<section>
  <div>
    <% if @vehicle.image_1 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_1 %>" data-lightbox="<%= @vehicle.title %> Images" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_1 %>
    </a>
    <% end %>
    <% if @vehicle.image_2 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_2 %>" data-lightbox="example-set" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_2 %>
    </a>
    <% end %>
    <% if @vehicle.image_3 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_3 %>" data-lightbox="example-set" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_3 %>
    </a>
    <% end %>
    <% if @vehicle.image_4 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_4 %>" data-lightbox="<%= @vehicle.title %> Images" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_4 %>
    </a>
    <% end %>
    <% if @vehicle.image_5 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_5 %>" data-lightbox="example-set" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_5 %>
    </a>
    <% end %>
    <% if @vehicle.image_6 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_6 %>" data-lightbox="<%= @vehicle.title %> Images" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_6 %>
    </a>
    <% end %>
    <% if @vehicle.image_7 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_7 %>" data-lightbox="example-set" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_7 %>
    </a>
    <% end %>
    <% if @vehicle.image_8 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_8 %>" data-lightbox="<%= @vehicle.title %> Images" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_8 %>
    </a>
    <% end %>
    <% if @vehicle.image_9 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_9 %>" data-lightbox="example-set" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_9 %>
    </a>
    <% end %>
    <% if @vehicle.image_10 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_10 %>" data-lightbox="<%= @vehicle.title %> Images" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_10 %>
    </a>
    <% end %>
    <% if @vehicle.image_12 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_12 %>" data-lightbox="example-set" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_12 %>
    </a>
    <% end %>
    <% if @vehicle.image_13 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_13 %>" data-lightbox="<%= @vehicle.title %> Images" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_13 %>
    </a>
    <% end %>
    <% if @vehicle.image_14%>
    <a class="vehicle_thumb" href="<%= @vehicle.image_14%>" data-lightbox="example-set" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_14%>
    </a>
    <% end %>
    <% if @vehicle.image_15 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_15 %>" data-lightbox="<%= @vehicle.title %> Images" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_15 %>
    </a>
    <% end %>
    <% if @vehicle.image_16 %>
    <a class="vehicle_thumb" href="<%= @vehicle.image_16 %>" data-lightbox="example-set" data-title="<%= @vehicle.title %>">
      <%= image_tag @vehicle.image_16 %>
    </a>
    <% end %>
  </div>
</section>
<style>
body:after {content: url(https://res.cloudinary.com/dodczwtee/image/upload/v1450511429/close_n6wtfu.png) url(https://res.cloudinary.com/dodczwtee/image/upload/v1450511429/loading_ril1em.gif) url(https://res.cloudinary.com/dodczwtee/image/upload/v1450511429/prev_lcswdp.png) url(https://res.cloudinary.com/dodczwtee/image/upload/v1450511429/next_gee3ki.png); display: none;}
</style>