<div class="panel panel-default z-depth-1" >
  <div class="panel-heading" style="background-color:#f2f2f2">
    Specs
  </div>
  <div class="panel-body" style="background-color:rgba(204, 234, 255, 0.7);">
    <div class="row" style="margin-bottom:0;">
      <table class="table " style="margin-bottom:0; padding:5px;">
        <tbody>
          <tr>
          <td>
            <h6>Engine: </h6>
          </td>
          <td>
            <p><%= @vehicle.engine %></p>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Transmission: </h6>
          </td>
          <td>
            <p> <%= @vehicle.transmission %></p>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Drive Type: </h6>
          </td>
          <td>
            <p>
            <%= @vehicle.drive_type %></p>
          </td>
        </tr>
        <% if @vehicle.import != 'import'  %>
        <% if @vehicle.mpg != 'undefined' %>
        <% if @vehicle.mpg.present? %>
        <tr>
          <td>
            <h6>MPG: </h6>
          </td>
          <td>
            <p>  <%= @vehicle.mpg %></p>
          </td>
        </tr>
        <% end %>
        <% end %>
        <% end %>
        <tr>
          <td>
            <h6>Fuel Type: </h6>
          </td>
          <td>
            <p>    <%= @vehicle.fuel_type %></p>
          </td>
        </tr>
        <% if @vehicle.import!='import'  %>
        <tr>
          <td>
            <h6>Trim: </h6>
          </td>
          <td>
            <p>  <%= @vehicle.trim %></p>
          </td>
        </tr>
        <% end %>
        <tr>
          <td>
            <h6>Color: </h6>
          </td>
          <td>
            <p> <%= @vehicle.exterior_color %></p>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Interior: </h6>
          </td>
          <td>
            <p>
            <%= @vehicle.interior_color %></p>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Stereo: </h6>
          </td>
          <td>
            <p>  <%= @vehicle.stereo %></p>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Body Style: </h6>
          </td>
          <td>
            <p> <%= @vehicle.body_style %></p>
          </td>
        </tr>
        <tr>
          <td>
            <h6># of Doors: </h6>
          </td>
          <td>
            <p>  <%= @vehicle.doors %></p>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Stock Number: </h6>
          </td>
          <td>
            <p>  <%= @vehicle.stock_number %></p>
          </td>
        </tr>
        <tr>
          <td>
            <h6>VIN Number: </h6>
          </td>
          <td>
            <p>  <%= @vehicle.vin_num %></p>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer" style="background-color:#f2f2f2">
  </div>
</div>
</div>
<style>
#showpagecontainer{
margin-bottom:25px;
}
h3.field-label{
display:none!important;
font-weight: normal!important;
}
td{
  font-weight: normal!important;

}
h6{
color:#777!important;
}
@media (max-width: 490px) {
#mobile-hr{
display: inline-block!important;
}
}
</style>