<div class="modal fade" id="contacts_modal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" style="background:none!important; border:none!important; box-shadow:none!important; max-height:95%!important; height:95%!important; width:90%!important; max-width:100%!important;">
	<div class="modal-dialog" role="document" style="width:auto!important; width:85%!important; max-width:100%!important;">
		<div class="modal-content" style="height:100%!important; padding:0;">
			<div class="panel panel-default" style="height:100%!important;">
				<div class="panel-heading">
					<h5 style="float:right;"><%= ContactStore.all.count %> Messages </h5>
					<div class="panel-title">
					<h5 >Contact Us</h5></div>
				</div>
				<div class="panel-body" style="padding:0!important;">
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Tel</th>
								<th>Message</th>
								<th>Date time</th>
								<th colspan="3"></th>
							</tr>
						</thead>
						<tbody>
							<% ContactStore.all.each do |contact_store|%>
							<tr>
								<td><%= contact_store.name %></td>
								<td><%= contact_store.email %></td>
								<td><%= contact_store.tel %></td>
								<td><%= contact_store.message %></td>
								<td><%= contact_store.created_at %></td>
								<td><%= link_to 'Show', contact_store %></td>
								<td><%= link_to 'Destroy', contact_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>