<div class="col-xs-3">
	<table class="table info table-striped inverted table-hover table-bordered z-depth-1">
		<thead>
			<tr>
				<td colspan="2">
					<h6 style="text-align:center;"><label style="font-size:2.3vmin;">Info</label></h6>
				</td>
			</tr>
		</thead>
		<tr>
			<td><label>Total Count</label></td>
			<td><%= Vehicle.count() %>
			</tr>
			<tr>
				<td><label>For Sale</label></td>
				<td><%= Vehicle.where(:status=>"Sale").count() %>
					<button type="button" onclick="$('#percent-tag').html(32+'%'); $('.progress-bar').css('width', 32+'%').attr('aria-valuenow', 32);$('#loading-screen').fadeIn(100); $('#load_sale').click();" style="float:right; background:none!important; border:none!important; box-shadow:none!important; color:black;">
					<span class="glyphicon glyphicon-resize-full" aria-hidden="true"  ></span>
					</button>
					<%= link_to 'Sale', 'sale',:id=>"load_sale", :style=>"display:none;", remote: true %>
				</td>
			</tr>
			<tr>
				<td><label>Pending</label></td>
				<td><%= Vehicle.where(:status=>"Pending").count() %>
					<button type="button" style="float:right; background:none!important; border:none!important; box-shadow:none!important; color:black;" onclick="$('#percent-tag').html(38+'%'); $('.progress-bar').css('width', 38+'%').attr('aria-valuenow', 38);$('#loading-screen').fadeIn(100); $('#load_pending').click();">
					<span class="glyphicon glyphicon-resize-full" aria-hidden="true"  ></span>
					</button>
					<%= link_to 'Pending', 'pending',:id=>"load_pending", :style=>"display:none;", remote: true %>
				</td>
			</tr>
			<tr id="vehicles_sold_count">
				<td><label>Sold</label></td>
				<td><%= Vehicle.where(:status=>"Sold").count() %>
					<button type="button" style="float:right; background:none!important; border:none!important; box-shadow:none!important; color:black;"onclick="$('#percent-tag').html(26+'%'); $('.progress-bar').css('width', 26+'%').attr('aria-valuenow', 26);$('#loading-screen').fadeIn(100); $('#load_sold').click();">
					<span class="glyphicon glyphicon-resize-full" aria-hidden="true"  ></span>
					</button>
					<%= link_to 'Sold', 'sold',:id=>"load_sold", :style=>"display:none;", remote: true %>
				</td>
			</tr>
			<tr>
				<td><label>Last Added on</label></td>
				<td><%= Vehicle.last.created_at.to_date%></td>
			</tr>
		</table>
	</div>