<div class="col-xs-3">
	<table class="table table-striped inverted table-hover table-bordered z-depth-1">
		<thead>
			<tr>
				<td colspan="2">
					<h6 style="text-align:center;"><label style="font-size:2vmin;">Info</label></h6>
				</td>
			</tr>
		</thead>
		<tr>
			<td><label>Total Count</label></td>
			<td><%= Vehicle.all.count() %>
		</tr>
		
		<tr>
			<td><label>For Sale</label></td>
			<td><%= Vehicle.all.where(:status=>"Sale").count() %>
				<button type="button" class="btn btn-primary z-depth-0" data-toggle="modal" data-target="#sale_modal" style=" background-color:white; color:black; float:right; background:none; border:none!important; " onclick="$('#closebtn-sale').show()">
				<span class="glyphicon glyphicon-resize-full" aria-hidden="true" style="font-weight:bold"></span>
				</button>
			</td>
		</tr>
		<tr>
			<td><label>Pending</label></td>
			<td><%= Vehicle.all.where(:status=>"Pending").count() %>
				<button type="button" class="btn btn-primary z-depth-0" data-toggle="modal" data-target="#pending_modal" style=" background-color:white; color:black; float:right; background:none; border:none!important;"  onclick="$('#closebtn-pending').show()">
				<span class="glyphicon glyphicon-resize-full" aria-hidden="true" style="font-weight:bold"></span>
				</button>
			</td>
		</tr>
		<tr id="vehicles_sold_count">
			<td><label>Sold</label></td>
			<td><%= Vehicle.all.where(:status=>"Sold").count() %>
				<button type="button" class="btn btn-primary z-depth-0" data-toggle="modal" data-target="#sold_modal" style=" background-color:white; color:black; float:right; background:none; border:none!important;">
				<span class="glyphicon glyphicon-resize-full" aria-hidden="true" style="font-weight:bold"></span>
				</button>
			</td>
		</tr>
		<tr>
			<td><label>Last Added on</label></td>
			<td><%= Vehicle.last.created_at.to_date%></td>
		</tr>
	</table>
</div>