<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading" id="most_viewed_heading" >
			<button type="button" class="" data-toggle="modal" data-target="#most_viewed_modal" style="float:right; background:none!important; border:none!important; box-shadow:none!important; color:black;" onclick="$('#closebtn-most').show()">
			<span class="glyphicon glyphicon-resize-full" aria-hidden="true"  ></span>
			</button>
			<div class="panel-title">
				<h6 id="admin_most_viewed_title" >Most Viewed</h6>
			</div>
		</div>
		<div class="panel-body" style="padding:0;  overflow:hidden!important;">
			<table class="table" style="padding:0; margin:0; overflow-y:hidden!important;">
				<tr>
					<% @popular_first.each do |vehicle| %>
					<td style="padding:0.2vmin;">
						<div class="panel panel-default veh_thumb" style="padding:0; margin:0!important;">
							<div class="panel-heading" style="padding:0; margin:0;">
								<label style="font-size:auto; margin:0!important;">
									<%= vehicle.title.truncate(13)%>
								</label>
							</div>
							<div class="panel-body" style="padding:0; margin:0;">								
								<%=  link_to image_tag(vehicle.admin_thumb, :style=>"width:112px!important; height:67.9px!important;"),vehicle %>
							</div>
							
							<div class="panel-footer" style="padding:0; margin:0;">
							<label style="font-size:auto; margin:0!important;">Views:         <%= vehicle.countclicks%></label>
							</div>
						</div>
					</td>
					<% end %>
				</tr>
				<tr>
					<% @popular_last.each do |vehicle| %>
					<td style="padding:0.2vmin;">
						<div class="panel panel-default veh_thumb" style="padding:0; margin:0!important;">
							<div class="panel-heading" style="padding:0; margin:0;">
								<label style="font-size:auto; margin:0!important;">
									<%= vehicle.title.truncate(13)%>
								</label>
							</div>
							<div class="panel-body" style="padding:0; margin:0;">
								<%=  link_to image_tag(vehicle.admin_thumb, :style=>"width:112px!important; height:67.9px!important;"),vehicle %>
							</div>
							<div class="panel-footer" style="padding:0; margin:0;">
							<label style="font-size:auto; margin:0!important;">Views:         <%= vehicle.countclicks%></label>
							</div>
						</div>
					</td>
					<% end %>
				</tr>
			</table>
		</div>
	</div>
</div>
