<style>
#logout-btn, nav, footer, .view-selector{display:none;}
::-webkit-scrollbar {
-webkit-appearance: none;
width: 7px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0, 0, 0, .5);
-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
#deals{font-size:3vmin;!important;}
#unlimited{font-size:3.75vmin;!important;}
</style>
<% if admin_signed_in? %>
<div class="alert alert-success"id="embed-api-auth-container"></div>
<div class="container" style="margin-top:1vmin!important; ">
	<div class="panel panel-default z-depth-4">
		<div class="panel-heading" style="background-color:#ccc">
			<span style="float:right;" id="deals">Dashboard</span>
			<div class="panel-title" style="white-space: nowrap;">
				<span id="deals">Deals </span>
				<span id= "unlimited" >Unlimited, </span>
				<span id="deals">Inc</span>
			</div>
		</div>
		<div class="panel-body">
			<div class="row" id="dashboard-row" >
				<div id="count_tile"><%= render 'admin/dashboard/count' %></div>
				<div id="most_viewed_tile"><%= render 'admin/dashboard/popular' %></div>
				<div id="options_tile"><%= render 'admin/dashboard/options' %></div>
			</div>
			<div class="row" id="dashboard-row" >
				<%= render 'admin/dashboard/analytics' %>
			</div>
		</div>
	</div>
</div>
<%= render 'admin/dashboard/modals'%>
<% else %>
<script type="text/javascript">window.location = "../../login";
</script>
<% end %>