<div class="modal fade" id="pending_modal"  tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog" id="modal-dialog-sold" role="document" >
		<div class="panel panel-default full-no-padding">
			<div class="panel-heading" style="background-color:#428bca;">
				<h5 style="float:right; color:white;">Pending</h5>
				<div class="panel-title" style="color:white;"><h5>Vehicles</h5></div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover admin_vehicle">
					<% @vehicles_pending.each do |vehicle| %>
					<tr id="tr_<%= vehicle.id %>">
						<%= simple_form_for(vehicle, :remote=>true, :style=>"display:none;") do |s| %>
						<td>
							<% if vehicle.image_1.present? %>
							<%=  link_to image_tag(vehicle.image_1, :class=>"dashboard_veh_thumb"),vehicle %>
							<% elsif vehicle.vehicle_images.present? %>
							<%=  link_to image_tag(vehicle.vehicle_images[0].url, :class=>"dashboard_veh_thumb"), vehicle  %><% end %>
						</td>
						<td>
							<table>
								<tr><td><%= vehicle.year%></td></tr>
								<tr><td><%= vehicle.make%></td></tr>
								<tr><td><%= vehicle.model%></td></tr>
							</table>
						</td>
						<td>
							<table>
								<tr>
									<td colspan="2">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<%= s.input :price, :label=>false,:class=>"form-control price_box_admin", :input_html => {:id=>"price_form_#{vehicle.id}",:type=>"text", :value=>vehicle.price} %>
											<span class="input-group-addon">.00</span>
										</div>
									</td>
								</tr>
								<tr><td><hr class="seperator"></td></tr>
								<tr>
									<td><label>Views</label></td>
									<td><%= vehicle.countclicks%></td>
								</tr>
							</table>
						</td>
						<td>
							<table>
								<tr>
									<td><label>Color</label></td>
									<td><%= vehicle.exterior_color%></td>
								</tr>
								<tr>
									<td><label>Mileage</label></td>
									<td><%= number_with_delimiter(vehicle.mileage, :delimiter => ',') %></td>
								</tr>
								<tr>
									<td><label>Stock #</label></td>
									<td><%= vehicle.stock_number%></td>
								</tr>
								<tr>
									<td >
										<label>Vin #</label></td>
										<td><%= vehicle.vin_num%></td>
									</tr>
								</table>
							</td>
							<td>
								<table class="admin_veh_button_table">
									<tr>
										<td>
											<button type="text" class="btn orange accent-3"  onclick = "PU(this);" id='<%= vehicle.id %>up' >Update $</button>
										</td>
										<td>
											<button id="<%= vehicle.id %>" class="btn" style="background-color:#4CAF50  !important;" onclick = "VSU(this);">Sale</button>
										</td>
									</tr>
									<tr>
										<td><%= link_to 'Delete!', vehicle, method: :delete, :remote => true, :class => 'delete_vehicle btn grey', :onclick=>"$('#tr_' + #{vehicle.id}).fadeOut();"%>
										</td>
										<td>
											<button id="<%= vehicle.id %>" class="btn red" onclick = "VSU(this);">Sold</button>
										</td>
									</tr>
								</table>
							</td>
							<%= s.input :status, :label=>false, :input_html => {:id=>"status_form_#{vehicle.id}",:value=>"#{vehicle.status}" ,:style=>"display:none;"} %>
							<%= s.submit :submit, :id=>"submit_status_#{vehicle.id}", :style=>"display:none;"%>
							<% end %>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>