<%= paginator.render do -%>
<nav class="page-links" style="z-index: 0!important;" >
  <table class="table" id = "page-link-table">
    <tr>
      
      <% if  current_page.first? %>
      <td style = "float:left!important; background-color:#eceff1!important;" disabled="true" class="btn first" style="position:fixed;">
        <span class="first" >
          <a href="/vehicles">« First</a>
        </span>
      </td>
      <% else %>
      <td style = "float:left!important; background-color:#eceff1!important; " class="btn prev">
        <%= first_page_tag%>
      </td>
      <% end %>
      <% if  current_page.first? %>
      <td style = "float:left!important; background-color:#eceff1!important;" disabled="true" class="btn prev">
        <span class="prev" >
          <a rel="prev" href="/vehicles">‹ Prev</a>
        </span>
      </td>
      <% else %>
      <td style = "float:left!important; background-color:#eceff1!important; " class="btn prev">
        <%= prev_page_tag%>
      </td>
      <% end %>
      <td id="center-links" style="height:100%; position:relative; white-space: nowrap; "  >
        <% each_page do |page| -%>
        <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
     <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
        <% end -%>
        <% end -%>
      </td>
      <% if  current_page.last? %>
      <td style = "float:right!important; background-color:#eceff1!important;" disabled="true" class="btn next">
        <span class="next" >
          <a href="/vehicles">« Next</a>
        </span>
      </td>
      <% else %>
      <td style = "float:right!important; background-color:#eceff1!important; " class="btn next">
        <%= next_page_tag%>
      </td>
      <% end %>
      <% if  current_page.last? %>
      <td style = "float:right!important; background-color:#eceff1!important;" disabled="true" class="btn last" style="position:fixed;">
        <span class="last" >
          <a rel="last" href="/vehicles">‹ Last</a>
        </span>
      </td>
      <% else %>
      <td style = "float:right!important; background-color:#eceff1!important; " class="btn last ">
        <%= last_page_tag%>
      </td>
      <% end %>
    </tr>
  </table>
</nav>

<% end %>
<style>

td{
text-align: center!important;
}

</style>