<style>
#showpagecontainer{
margin-top:0!important;
}
#status-container #vehicle_price{
border:1px solid black!important;
}
input .integer .optional .vehicle_price{
	height:100%!important;
}
#vehicle_price{
	margin:0!important;
}
#vehicle_price{border:none!important;}
#form{margin-top: 0!important;}
#panel-edit{margin-bottom:0!important;}
#panel-status{margin-bottom:0!important;}
#panel-status h5{color:white!important;}
#forsale-btn{padding-top:0!important;}
@media only screen and (max-width : 800px) {
#status-container{margin-top: 5vmin!important;}
#panel-title{
	padding:0!important;
	margin:0!important;
}
#panel-title h5{
	color:white!important;
	padding:0!important;
	margin:0!important;
}
}
</style>
<div class="container" id="stat-container" >
	<div class="row" id="status-container">
		<div class="panel panel-default z-depth-4" id ="panel-status">
			<% if @vehicle.status == ("Sale" || "sale") %>
			<div class="panel-heading green">
				<div class="panel-title" id = "panel-title">
					<h5>For Sale
					<%= render 'edit_delete_links' %>
					</h5>
					
				</div>
			</div>
			<% elsif @vehicle.status == ("Sold" || "sold") %>
			<div class="panel-heading red">
				<div class="panel-title">
					<h5>Sold
					<%= render 'edit_delete_links' %>
					</h5>
				</div>
			</div>
			<% else %>
			<div class="panel-heading" style="background-color:#5383D3 !important">
				<div class="panel-title">
					<h5>Pending
					<%= render 'edit_delete_links' %>
					</h5>
				</div>
			</div>
			<% end %>
			<div class="panel-body" style="padding-bottom:0!important;">
				<div class="row">
					<div class="col-sm-4">
						<table class="table" style="margin-bottom:0px!important; margin-top:1.5vmin!important;">
							<tr>
								<td style="padding:1vmin!important;">
									Days Old:
								</td>
								<td style="padding:1vmin!important; color:#777;">
									<%= ((DateTime.now.to_date)-(@vehicle.created_at.to_date)).to_i %>
								</td>
							</tr>
							<tr>
								<td style="padding:1vmin!important;">
									Vehicle Created at:
								</td>
								<td style="padding:1vmin!important; color:#777;">
									<%= @vehicle.created_at %>
								</td>
							</tr>
							<tr>
								<td style="padding:1vmin!important;">
									Last Edited on:
								</td>
								<td style="padding:1vmin!important; color:#777;">
									<%= @vehicle.updated_at %>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-4">
						<table>
							<%= simple_form_for(@vehicle) do |s| %>
							<tr>
								<td style="padding:1vmin!important;" >
									<div class="input-group" >
										<span class="input-group-addon">$</span>
										<%= s.input :price , :class=>"form-control no-border", :type=>"text", label: false%>
										<span class="input-group-addon">.00</span>
									</div>
								</td>
							</tr>
							<tr><td><hr></td></tr>
							<tr>
								<td style="padding:1vmin!important;">
									<%= s.button :submit ,:class=>"blue z-depth-2 ", :value=>"$ Update Price",:style=>"height:100%!important; width:100%!important; background-color:#5383D3!important; color:white!important; font-weight:bold!important;"%>
								</td>
							</tr>
							<% end %>
						</table>
					</div>
					<div class="col-sm-4" style="height:100%!important; padding-bottom:0!important;" >
						<table class="table"style="margin-bottom:0px!important; margin-top:1.5vmin!important;">
							<tr>
								<td id = "forsale-btn" style="padding:1vmin!important;">
									<button class="btn btn-default green z-depth-2 waves-effect waves-white " onclick = "setstatus('For Sale')"style="font-weight:bold!important; width:100%!important;" >For Sale</button>
								</td>
							</tr>
							<tr>
								<td id="pending-btn" style="padding:1vmin!important;">
									<button class="btn btn-default z-depth-2 waves-effect waves-white" onclick = "setstatus('Pending')"style="font-weight:bold!important; width:100%!important; background-color:#5383D3!important">Pending</button>
								</td>
							</tr>
							<tr>
								<td id="sold-btn" style="padding:1vmin!important;">
									<button class="btn btn-default red z-depth-2 waves-effect waves-white" onclick = "setstatus('Sold')"style="font-weight:bold!important; width:100%!important;">Sold</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<% if @vehicle.status == ("Sale" || "sale") %>
			<div class="panel-footer green">
			</div>
			<% elsif @vehicle.status == ("Sold" || "sold") %>
			<div class="panel-footer red">
			</div>
			<% else %>
			<div class="panel-footer" style="background-color:#5383D3 !important">
			</div>
			<% end %>
		</div>
	</div>
</div>
<div style="display:none!important;">
	<%= simple_form_for(@vehicle) do |s| %>
	<%= s.input :price %>
	<%= s.input :status %>
	<p id="status-indicator"><%= @vehicle.status %></p>
	<button id= "update"%>Submit Vehicle</button>
</div>
<% end %>
<script>
if($('#status-indicator').html() == "Sale" ){ $('#forsale-btn button').prop('disabled', true);
}else if($('#status-indicator').html() == "Pending" ){ $('#pending-btn button').prop('disabled', true);
}else if($('#status-indicator').html() == "Sold" ){ $('#sold-btn button').prop('disabled', true);}
</script>