<div class = "panel panel-default">
<div class = "panel-heading"></div>
<div class = "panel-body">
<button onclick="myFunction(document.getElementById('vehicle_vin_num').value)">run</button>

<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :vin_num %>
    <%= f.input :kind, collection: [:Car, :Truck, :SUV, :Van]%>
    <%= f.input :status, collection: [:Sale, :Sold, :Pending, ] %>
    <%= f.input :model, :class => "form-control" %>
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :make %>
    <%= f.input :year %>
    <%= f.input :body_style %>
    <%= f.input :mileage %>
    <%= f.input :exterior_color %>
    <%= f.input :interior_color %>
    <%= f.input :engine %>
    <%= f.input :transmission %>
    <%= f.input :drive_type %>
    <%= f.input :vehicle_class %>
    <%= f.input :mpg %>
    <%= f.input :trim %>
    <%= f.input :fuel_type %>
    <%= f.input :stereo %>
    <%= f.input :doors %>
    <%= f.input :stock_number %>
    <%= f.input :thumb %>
    <%= f.input :description %>
    <%= f.input :other_options %>
    <%= f.input :image_1 %>
    <%= f.input :image_2 %>
    <%= f.input :image_3 %>
    <%= f.input :image_4 %>
    <%= f.input :image_5 %>
    <%= f.input :image_6 %>
    <%= f.input :image_6 %>
    <%= f.input :image_7 %>
    <%= f.input :image_8 %>
    <%= f.input :image_9 %>
    <%= f.input :image_10 %>
    <%= f.input :image_11 %>
    <%= f.input :image_12 %>
    <%= f.input :image_13 %>
    <%= f.input :image_14 %>
    <%= f.input :image_15 %>
    <%= f.input :image_16 %>
    <%= f.input :image_17 %>
    <%= f.input :image_18 %>
    <%= f.input :image_19 %>
    <%= f.input :image_20 %>
    <%= f.input :image_21 %>
    <%= f.input :image_22 %>
    <%= f.input :image_23 %>
    <%= f.input :image_24 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
</div>
<style>
select{
    display: block!important;
}
</style>