<div class ="container" id="form">
    <div class = "row">
        <div class = "col-lg-6">
            <div class = "panel panel-default ">
                <div class = "panel-heading" style="background-color:#292c2f !important">
                    <div class = "panel-title">
                        <h5 style="color:#eee">Vehicle Info
                        <button class="btn blue" style="float:right;" onclick="myFunction(document.getElementById('vehicle_vin_num').value)">Fill Using VIN</button>
                        </h5>
                    </div>
                </div>
                <div class = "panel-body">
                    <div class="form-inputs">
                        <%= simple_form_for(@vehicle) do |f| %>
                        <%= f.error_notification %>
                        <%= f.input :vin_num %>
                        <%= f.input :price %>
                        <%= f.input :mileage %>
                        <%= f.input :exterior_color %>
                        <%= f.input :interior_color %>
                        <%= f.input :stereo %>
                        <%= f.input :stock_number %>
                        <%= f.input :description %>
                        <%= f.input :other_options, :id=>"other_options" %>
                        <%= render "feature_list" %>
                        <%= f.label :vehicle_images %>
                        <%= f.file_field :vehicle_images, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
                    </div>
                </div>
                <div class = "panel-footer">
                </div>
            </div>
        </div>
        <div class = "col-lg-6">
            <div class = "panel panel-default ">
                <div class = "panel-heading"  style="background-color:#292c2f !important">
                    <div class = "panel-title">
                        <h5 style="background-color:#292c2f;">.</h5>
                    </div>
                </div>
                <div class="panel-body">
                    <%= f.input :kind, collection: [:Car, :Truck, :SUV, :Van]%>
                    <%= f.input :status, collection: [:Sale, :Sold, :Pending, ] %>
                    <%= f.input :title %>
                    <%= f.input :year %>
                    <%= f.input :make %>
                    <%= f.input :model, :class => "form-control" %>
                    <%= f.input :body_style %>
                    <%= f.input :engine %>
                    <%= f.input :transmission %>
                    <%= f.input :drive_type %>
                    <%= f.input :vehicle_class %>
                    <%= f.input :doors %>
                    <%= f.input :mpg %>
                    <%= f.input :trim %>
                    <%= f.input :fuel_type %>
                </div>
                <div class = "panel-footer">
                    <%= f.button :submit ,:class=>"blue",:id=>"update", :style=>"width:100%!important;"%>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
<style>
select{display: block!important;}
.col-lg-4 img{ width:100%;}
</style>

