<div class="panel panel-default">
  <div class="panel-heading" style="background-color:#ddd">
    <%= @vehicle.title %>
  </div>
  <div class="panel-body" style="background-color:#e5f2ff">
    <div class="row">
      <div class="col-md-4">
        <table class="table">
          <tr>
            <td>
              <label>Price: </label>
            </td>
            <td>
              <p  style="float:right;">$<%= number_with_delimiter(@vehicle.price, :delimiter => ',') %>.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <label>ExteriorColor: </label>
            </td>
            <td>
              <p  style="float:right;"> <%= @vehicle.exterior_color %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Engine: </label>
            </td>
            
            <td>
              <p  style="float:right;"><%= @vehicle.engine %></p>
            </td>
          </tr>
          <% if @vehicle.import!='import'  %>
          <tr>
            <td>
              <label>Trim: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.trim %></p>
            </td>
          </tr>
          <% end %>
          <tr>
            <td>
              <label>VIN: </label>
            </td>
            <td>
              <p  style="float:right;">    <%= @vehicle.vin_num %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Stock Number: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.stock_number %></p>
            </td>
          </tr>
          <% if @vehicle.import!='import'  %>
          <tr>
            <td>
              <label>Class: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.vehicle_class %></p>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table">
          <tr>
            <td>
              <label>Year: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.year %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Interior Color: </label>
            </td>
            <td>
              <p  style="float:right;">   <%= @vehicle.interior_color %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Body Style: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.body_style %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Mileage: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= number_with_delimiter(@vehicle.mileage, :delimiter => ',') %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label># of Doors: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.doors %></p>
            </td>
          </tr>
          <% if @vehicle.import!='import'  %>
          <tr>
            <td>
              <label>Combined MPG: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.mpg %></p>
            </td>
          </tr>
          
          <% end %>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table">
          <tr>
            <td>
              <label>Make: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.make %></p>
            </td>
          </tr>
          <tr>
            <tr>
              <td>
                <label>Model: </label>
              </td>
              <td>
                <p  style="float:right;">   <%= @vehicle.model %></p>
              </td>
            </tr>
            <td>
              <label>Transmission: </label>
            </td>
            <td>
              <p  style="float:right;"> <%= @vehicle.transmission %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Drive Type: </label>
            </td>
            <td>
              <p  style="float:right;">   <%= @vehicle.drive_type %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Fuel Type: </label>
            </td>
            <td>
              <p  style="float:right;">    <%= @vehicle.fuel_type %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Stereo: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.stereo %></p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer" style="background-color:#ddd">
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color:#ddd">
        Features
      </div>
      <div class="panel-body features" style="background-color:#e5f2ff">
        <tr><td>
          <%= @vehicle.other_options.html_safe %>
        </td></tr>
      </div>
      <div class="panel-footer" style="background-color:#ddd">
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color:#ddd">
        Description
      </div>
      <div class="panel-body" style="background-color:#e5f2ff">
        <p id="textArea">
          <%=  truncate(@vehicle.description.html_safe, :length => 900, :escape => false)%>....
        </p>  
        <a id="toggleButton" onclick="toggleText();" href="javascript:void(0);">See More</a>
      </div>
      </div>
      </div>
      <div class="panel-footer" style="background-color:#ddd">
      </div>
    </div>
  </div>
</div>
<div id="moretext" style="display:none;">
  <%= @vehicle.description.html_safe %>
</div>
<div id="lesstext" style="display:none;">
  <%=  truncate(@vehicle.description.html_safe, :length => 900 , :escape => false)%>....
</div>
<script>
var status = "more";
var lesstext=document.getElementById("lesstext").innerHTML;
var text=document.getElementById("moretext").innerHTML;
function toggleText()
{
if (status == "less") {
document.getElementById("textArea").innerHTML=lesstext;
document.getElementById("toggleButton").innerText = "See More";
document.getElementById("textArea").innerHTML="";
status = "more";
} else if (status == "more") {
document.getElementById("textArea").innerHTML = text;
document.getElementById("toggleButton").innerText = "See Less";
status = "less"
}
}</script>
<style>
h3.field-label{
display:none!important;
font-weight: normal!important;
}
label{
color:#444!important;
}
</style>