<div class="panel panel-default" >
  <div class="panel-heading" style="background-color:#ddd">
    <%= @vehicle.title%>
  </div>
  <div class="panel-body" style="background-color:#e5f2ff">
    <div class="row">
      <div class="col-sm-4" >
        <table class="table">
          <tr>
            <td>
              <label>Price: </label>
            </td>
            <td>
              <p  style="float:right;">$<%= number_with_delimiter(@vehicle.price, :delimiter => ',') %>.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Status: </label>
            </td>
            <td>
              <p  style="float:right;"><% if (@vehicle.status =="Sale") %>For Sale<% else %>  <%= @vehicle.status %> <% end %> </p>
            </td>
          </tr>
          <tr>
            <td>
              <label>ExteriorColor: </label>
            </td>
            <td>
              <p  style="float:right;"> <%= @vehicle.exterior_color %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Engine: </label>
            </td>
            
            <td>
              <p  style="float:right;"><%= @vehicle.engine %></p>
            </td>
          </tr>
          <% if @vehicle.import!='import'  %>
          <tr>
            <td>
              <label>Trim: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.trim %></p>
            </td>
          </tr>
          <% end %>
          <tr>
            <td>
              <label>VIN: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.vin_num %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Stock Number: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.stock_number %></p>
            </td>
          </tr>
          
        </table>
      </div>
      <div class="col-sm-4">
        <table class="table">
          <tr>
            <td>
              <label>Year: </label>
            </td>
            <td>
              <p style="float:right;">  <%= @vehicle.year %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Interior Color: </label>
            </td>
            <td>
              <p style="float:right;">
              <%= @vehicle.interior_color %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Body Style: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.body_style %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Mileage: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= number_with_delimiter(@vehicle.mileage, :delimiter => ',') %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label># of Doors: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.doors %></p>
            </td>
          </tr>
          <% if @vehicle.import!='import'  %>
          <tr>
            <td>
              <label>Class: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.vehicle_class %></p>
            </td>
          </tr>
          <% end %>
          
          <% if @vehicle.import != 'import'  %>
          <% if @vehicle.mpg != 'undefined' %>
          <% if @vehicle.mpg.present? %>
          <tr>
            <td>
              <label>Combined MPG: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.mpg %></p>
            </td>
          </tr>
          <% end %>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="col-sm-4" >
        <table class="table">
          <tr>
            <td>
              <label>Make: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.make %></p>
            </td>
          </tr>
          <tr>
            <tr>
              <td>
                <label>Model: </label>
              </td>
              <td>
                <p  style="float:right;">
                <%= @vehicle.model %></p>
              </td>
            </tr>
            <td>
              <label>Transmission: </label>
            </td>
            <td>
              <p  style="float:right;"> <%= @vehicle.transmission %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Drive Type: </label>
            </td>
            <td>
              <p  style="float:right;">
              <%= @vehicle.drive_type %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Fuel Type: </label>
            </td>
            <td>
              <p  style="float:right;">    <%= @vehicle.fuel_type %></p>
            </td>
          </tr>
          <tr>
            <td>
              <label>Stereo: </label>
            </td>
            <td>
              <p  style="float:right;">  <%= @vehicle.stereo %></p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer" style="background-color:#ddd">
  </div>
</div>
<div class="row" style="margin:0!important; width:100%!important;">
  <div class="col-lg-6" style="padding-left:0.2vmin!important; padding-right:0.2vmin!important;">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color:#ddd">
        Features
      </div>
      <% if @vehicle.import == "import" %>
      <div class="panel-body features"  style="background-color:#e5f2ff">
        <% if @vehicle.other_options %>
        <%= @vehicle.other_options.html_safe%>
        <% end %>
      </div>
      <% else %>
      <div class="panel-body features" id="features" style="background-color:#e5f2ff">
        <% if @vehicle.other_options %>
        <%= @vehicle.other_options.html_safe%>
        <% end %>
      </div>
      <% end %>
      <div class="panel-footer" style="background-color:#ddd">
      </div>
    </div>
  </div>
  <div class="col-lg-6" style="padding-left:0.2vmin!important; padding-right:0.2vmin!important;">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color:#ddd">
        Description
      </div>
      <div class="panel-body" style="background-color:#e5f2ff">
        <% if @vehicle.import == "import" %>
        <%= @vehicle.description.html_safe %>
        <% else %>
        <%= @vehicle.description %>
        <% end %>
      </div>
      <div class="panel-footer" style="background-color:#ddd">
      </div>
    </div>
  </div>
</div>
</div>
<style>
h3.field-label{
display:none!important;
font-weight: normal!important;
}
label{
color:#444!important;
}
@media (max-width: 490px) {
#mobile-hr{
display: inline-block!important;
}
}
</style>