<div class="panel panel-default">
  <div class="panel-heading" style="background-color:#ddd">
    <%= @vehicle.title %>
  </div>
  <div class="panel-body" style="background-color:#eff7ff">
    <div class="row">
      <div class="col-lg-3">
        <p>
          <label>Price: </label>
          $<%= number_with_delimiter(@vehicle.price, :delimiter => ',') %>.00
        </p>
        <p>
          <label>ExteriorColor: </label>
          <%= @vehicle.exterior_color %>
        </p>
        <p>
          <label>Engine: </label>
          <%= @vehicle.engine %>
        </p>
        <p>
          <label>Trim: </label>
          <%= @vehicle.trim %>
        </p>   
        
      </div>
      <div class="col-lg-3">
        <p>
          <label>Year: </label>
          <%= @vehicle.year %>
        </p>
        <p>
          <label>Interior Color: </label>
          <%= @vehicle.interior_color %>
        </p>
        <p>
          <label>Body Style: </label>
          <%= @vehicle.body_style %>
        </p>
        <p>
          <label>Mileage: </label>
          <%= number_with_delimiter(@vehicle.mileage, :delimiter => ',') %>
        </p>
      </div>
      <div class="col-lg-3">
        <p>
          <label>Make: </label>
          <%= @vehicle.make %>
        </p>
        
        <p>
          <label>Transmission: </label>
          <%= @vehicle.transmission %>
        </p>
        <p>
          <label>Drive Type: </label>
          <%= @vehicle.drive_type %>
        </p>
        <p>
          <label>Fuel Type: </label>
          <%= @vehicle.fuel_type %>
        </p>
      </div>
      <div class="col-lg-3">
        <p>
          <label>Model: </label>
          <%= @vehicle.model %>
        </p>
        <% if @vehicle.import!='import'  %>
        <p >
          <label>Class: </label>
          <%= @vehicle.vehicle_class %>
        </p>
        <p>
          <label>Combined MPG: </label>
          <%= @vehicle.mpg %>
        </p>
        
        <% else  %>
        <% end %>
        
        <p>
          <label>Stereo: </label>
          <%= @vehicle.stereo %>
        </p>
        <p>
          <label># of Doors: </label>
          <%= @vehicle.doors %>
        </p>
        <p>
          <label>Stock Number: </label>
          <%= @vehicle.stock_number %>
        </p>
        <p>
          <label>VIN: </label>
          <%= @vehicle.vin_num %>
        </p>
      </div>
    </div>
    
  </div>
  <div class="panel-footer">
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color:#ddd">
        Features
      </div>
      <div class="panel-body features" style="background-color:#eff7ff">
        <p>
          <%= @vehicle.other_options.html_safe %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color:#ddd">
        Description
      </div>
      <div class="panel-body" style="background-color:#eff7ff">
        <%= @vehicle.description %>
      </div>
    </div>
  </div>
</div>
<style>
h3.field-label{
display:none!important;
font-weight: normal!important;
}
</style>