<div class="container" style="margin-top: 7 rem!important;">
  <div class="row" >
    
    <div class="col s3"id="s3" >
      <div class="panel panel-default "  >
        <div class = "panel-heading panel-black">
          <div class="panel-title">
            Search
          </div>
        </div>
        <div class="panel-body">
          <%= search_form_for @q do |f| %>
          <label for="q_kind" class="black-text">Type of Vehicle</label>
          <%= f.select :kind_cont, options_for_select([['All', ''], ['Car'], ['Truck'], ['SUV'], ['Van']]), :class=>"gray" %>
          <%= f.label :make , :class=>"black-text"%>
          <%= f.select :make_cont, options_for_select([['All', ''], ['Car'], ['Truck'], ['SUV'], ['Van']]) %>
          <%= collection_select(:make_cont, 0, AutoMake.all, :title, :title) %>
          <%= f.label :model, :class=>"black-text" %>
          <%= f.select :model_cont, options_for_select([['All', ''], ['Car'], ['Truck'], ['SUV'], ['Van']]) %>
          <hr>
          <label for="Price" class="black-text">Price</label>
          <div class ="price-search-box">
            <div class="col-lg-5"><%= f.select :price_gteq , options_for_select([['Any', '0'], ['$1,000','1000'], ['$2,000','2000'], ['$3,000','3000'], ['$4,000','4000'], ['$5,000','5000'], ['$6,000','6000'], ['$8,000','8000'], ['$10,000','10000']], :selected => :Any) %></div>
            <label for="Price" class="black-text col-sm-1">to</label>
            <div class="col-lg-5"><%= f.select :price_lteq , options_for_select([['Any', '99999'],['Any', '99999'], ['$5,000','5000'], ['$6,000','6000'], ['$8,000','8000'], ['$10,000','10000'], ['$12,000','12000'], ['$15,000','15000'], ['$20,000','20000'], ['$30,000','30000'], ['$50,000','50000']], :selected => :Any) %>
            </div>
          </div>
          <label for="Year" class="black-text">Year</label>
          <div class ="year-search-box">
            <div class="col-lg-5"> <%= f.select :year_gteq , options_for_select([['Any', '0'], ['2016'], ['2015'], ['2014'], ['2013'], ['2012'], ['2011'], ['2010'], ['2009'], ['2008'], ['2007'], ['2006'], ['2005'], ['2004'], ['2003'], ['2002'], ['2001'], ['2000'], ['1999'], ['1990'], ['1980']], :selected => :Any) %>
            </div>
            <label for="Price" class="black-text col-sm-1">to</label>
            <div class="col-lg-5"> <%= f.select :year_lteq , options_for_select([['Any', '2050'], ['2016'], ['2015'], ['2014'], ['2013'], ['2012'], ['2011'], ['2010'], ['2009'], ['2008'], ['2007'], ['2006'], ['2005'], ['2004'], ['2003'], ['2002'], ['2001'], ['2000'], ['1999'], ['1990'], ['1980']], :selected => :Any),:class=>"black-text" %>
            </div>
          </div>
          <%= f.submit %>
          <% end %>
        </div>
        <div class= "panel-footer panel-black">
        </div>
      </div>
    </div>
    <div class="col s9"style=" right:0; height:100%;!important;width:72%!important; position:fixed!important; padding:0!important; margin:0!important; margin-right:2%!important;">
      <div class="panel panel-default scrollable" style="overflow-y:scroll; height:100%!important; padding-bottom:10rem!important; ">
        <div class="panel-body" id="s9" style="padding:0!important;">
          <% @vehicles.each do |vehicle| %>
          <div class="panel panel-default">
            <div class="panel-body" style="padding:0!important;">
              <div class = "col s5">
                <%=  link_to image_tag(vehicle.thumb),vehicle %>
              </div>
              <div class = "col s7">
                <div class = "row">
                  <p style="font-size:1.5rem!important;padding-top:0.3rem;padding-bottom:0.4rem;padding-left:1rem;"><%= vehicle.title%></p>
                </div>
                <div class = "row">
                  <div class = "col s3">
                    <p>Price: $<%= vehicle.price %></p>
                    <p>MPG: <%= vehicle.mpg %></p>
                    <p>Engine: <%= vehicle.engine %></p>
                    <p>Mileage: <%= vehicle.mileage %></p>
                  </div>
                  <div class = "col s4">
                    <p>Year: <%= vehicle.year %></p>
                    <p>Make: <%= vehicle.make %></p>
                    <p>Model: <%= vehicle.model %></p>
                    <p>Drive: <%= vehicle.drive_type %></p>
                    <p>Fuel: <%= vehicle.fuel_type %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= link_to 'Show', vehicle %>
          <%= link_to 'Edit', edit_vehicle_path(vehicle) %>
          <%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
        <%= link_to 'New Vehicle', new_vehicle_path %>
      </div>
    </div>
  </div>
</div>
<div class="footer-vehicles">
  <h3>Deals Unlimited,<span> Inc.</span></h3>
  <h4>269-324-4285</h4>
</div>
<style>
::-webkit-scrollbar {
display: none;
}
.panel-body{}
.row{margin-bottom: 0!important;}
.col .s5 img{width:90%;border-top-left-radius: 1.5%; border-bottom-left-radius: 1.5%;}
.col .s5{padding:0!important;}
.container{max-width: 100%!important; position: fixed!important; }
.s9{float:right!important;}
.s3{float:left!important; }
.col .s4{
height:inherit!important;
width:40%!important;
float:right!important;
}
.footer-distributed{display:none!important;
}
.footer-vehicles{max-height:5%!important;height:5%!important; bottom:0; position:fixed!important; padding:1rem; padding-top: 0.1rem!important; padding-left: 0.15rem!important; background-color: #292c2f !important;
line-height: 50px!important;
width: 100%;
}
.footer-vehicles h4{
float:right!important;
color: #ffffff!important;
margin: 0!important;
padding: 0!important;
font-size: 2.4rem!important;
font:normal 36px 'Cookie', cursive!important;
}
.footer-vehicles h3{
float:left!important;
color: #ffffff!important;
margin: 0!important;
padding: 0!important;
font-size: 2.4rem!important;
font:normal 36px 'Cookie', cursive!important;
}
#q_make_cont{
  display: none!important;
}
.footer-vehicles h3 span{color:#5383d3!important;}
select{display: inline-block!important;}
</style>
<script>
document.getElementById("q_make_cont").innerHTML = document.getElementById("make_cont_0").innerHTML;

</script>
<!--
<div class ="container">
  <div class = "panel panel-default ">
    <div class = "panel-body">
      <table>
        <tbody>
          <% @vehicles.each do |vehicle| %>
          <tr>
            <td><%= vehicle.kind %></td>
            <td><%= vehicle.status %></td>
            <td><%= vehicle.model %></td>
            <td><%= vehicle.title %></td>
            <td><%= vehicle.price %></td>
            <td><%= vehicle.make %></td>
            <td><%= vehicle.year %></td>
            <td><%= vehicle.body_style %></td>
            <td><%= vehicle.mileage %></td>
            <td><%= vehicle.exterior_color %></td>
            <td><%= vehicle.interior_color %></td>
            <td><%= vehicle.engine %></td>
            <td><%= vehicle.transmission %></td>
            <td><%= vehicle.drive_type %></td>
            <td><%= vehicle.vehicle_class %></td>
            <td><%= vehicle.mpg %></td>
            <td><%= vehicle.trim %></td>
            <td><%= vehicle.fuel_type %></td>
            <td><%= vehicle.stereo %></td>
            <td><%= vehicle.doors %></td>
            <td><%= vehicle.stock_number %></td>
            <td><%= vehicle.vin_num %></td>
            <td><%= image_tag vehicle.thumb %></td>
            <td><%= vehicle.description %></td>
            <td><%= vehicle.other_options %></td>
            
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class = "panel-footer">
      <%= link_to 'New Vehicle', new_vehicle_path %>
    </div>
  </div>
</div>
<style>
#titleV{
float:left!important;
}
#veh-count{
float:right!important;
}
</style>
-->