<section>
    <div class = "container-fluid">
        <div class="row">
            <div class="col-xs-4"id="search">
                <div class="panel panel-default z-depth-4">
                    <div class="panel-heading ">
                        <div class="panel-title">
                        </div>
                    </div>
                    <%= render 'search_form_for_vehicles' %>
                </div>
            </div>
            <div class="col-xs-7" id = "vehicle-window">
                <div class="panel panel-default" id="vehicle-container">
                    <div class="panel-heading" style="padding:0!important;" >
                        <div class="row" style="margin-bottom:0!important;" >
                            <center>
                            <div class="row" style="margin-bottom:0!important;">
                                <ul class="pagination" style="margin:0!important; z-index:10; padding:0!important;">
                                    <% if admin_signed_in? %>
                                    <li><%= link_to 'New Vehicle', new_vehicle_path,:style=>"color:white!important;", :class=>"button btn green btn-default"%></li>
                                    <% end %>
                                    <li style="padding:0!important; font-size:0.8rem!important;">
                                        <a type="button"class="sort_link" href="vehicles?class=blue-btn&q%5Bs%5D=created_at+desc" id="car-btn">New Arrivals</a>
                                    </li>
                                    <li style="padding:0!important; font-size:0.8rem!important;">
                                        <%= sort_link(@q, :price, :class=>"blue-btn") %>
                                    </li>
                                    <li style="padding:0!important; font-size:0.8rem!important;">
                                        <%= sort_link(@q, :year, :class=>"blue-btn") %>
                                    </li>
                                    <li style="padding:0!important; font-size:0.8rem!important;">
                                        <%= sort_link(@q, :mileage, :class=>"blue-btn") %>
                                    </li>
                                    <li style="padding:0!important; font-size:0.8rem!important;" >
                                        <a type="button"class="sort_link" href="/vehicles?utf8=%E2%9C%93&q%5Bkind_cont%5D=ar&=&commit=Search" id="car-btn">Cars</a>
                                    </li>
                                    <li style="padding:0!important; font-size:0.8rem!important;" >
                                        <a type="button" class="sort_link"  href="/vehicles?utf8=%E2%9C%93&q%5Bkind_cont%5D=ruck&=&commit=Search"id="car-btn">Trucks</a>
                                    </li>
                                    <li style="padding:0!important; font-size:0.8rem!important;" >
                                        <a type="button" class="sort_link"  href="/vehicles?utf8=%E2%9C%93&q%5Bkind_cont%5D=uv&=&commit=Search">SUVs</a>
                                    </li>
                                    <li style="padding:0!important; font-size:0.8rem!important;" >
                                        <a type="button" class="sort_link"  href="/vehicles?utf8=%E2%9C%93&q%5Bkind_cont%5D=an&=&commit=Search">Vans</a>
                                    </li>
                                </ul>
                            </div>
                            </center>
                        </div>
                    </div>
                    <% @vehicles.each do |vehicle| %>
                    <% if (vehicle.status == "Sold") &! (admin_signed_in?) %>
                    <% else %>
                    <div class="panel panel-default z-depth-2" id="each-vehicle">
                        <% if vehicle.status == "Sold" %>
                        <div class="panel-heading red lighten-1" ><% else %>
                            <div class="panel-heading "><% end %>
                                <div class="panel-title">
                                    <h5  id="vehicle_title" >
                                    <%= link_to  vehicle.title, vehicle %>
                                    </h5>
                                </div>
                            </div>
                            <div class="panel-body" id="vehicle-row" >
                                <div class="row">
                                    <div class="col-xs-5 " id="img-col">
                                        <% if vehicle.import == 'import' %>
                                        <div class="col-sm-12 thumbnail text-center" class="img-responsive">
                                            <%=  link_to image_tag(vehicle.image_1 , :class=>"img-responsive" ,:id=>"vehthumb"),vehicle %>
                                            <div class="caption">
                                                <% if vehicle.status.present? %>
                                                <% if ((vehicle.status == "Pending") ||(vehicle.status =='pending')) %>
                                                <h4 class="pending-banner"> Sale Pending </h4>
                                                <% end %>
                                                <% end %>
                                            </div>
                                        </div>
                                        <% end %>
                                        <% if vehicle.import == nil%>
                                        <% if vehicle.vehicle_images.present? %>
                                        <div class="col-sm-12 thumbnail text-center" class="img-responsive">
                                            <%=  link_to image_tag(vehicle.vehicle_images[0].url, :class=>"img-responsive",:id=>"vehthumb"),vehicle  %>
                                            <div class="caption">
                                                <% if vehicle.status.present? %>
                                                <% if ((vehicle.status == "Pending") ||(vehicle.status =='pending')) %>
                                                <h4 class="pending-banner"> Sale Pending </h4>
                                                <% end %>
                                                <% end %>
                                            </div>
                                        </div>
                                        <% end %>
                                        <% end %>
                                    </div>
                                    <div class="col-xs-4" id="middle-col">
                                        <div class ="table-responsive">
                                            <table class="table" id="first-table">
                                                <tr id="pt" >
                                                    <td id = "price-tag-alert"colspan="2" style="border-top:none!important;">
                                                        <center>
                                                        <h5 style="font-size: 6vmin;" id="pricetag" >$<%= number_with_delimiter(vehicle.price, :delimiter => ',') %>.00</h5>
                                                        </center>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Drive Type:</label>
                                                    </td>
                                                    <td>
                                                        <%= vehicle.drive_type %>
                                                    </td>
                                                </tr>
                                                <% if (vehicle.import =='import') %>
                                                <% else %>
                                                <% if (vehicle.mpg == "undefined") %>
                                                <% else %>
                                                <tr>
                                                    <td>
                                                        <label>MPG</label>
                                                    </td>
                                                    <td>
                                                        <%= vehicle.mpg %>
                                                    </td>
                                                </tr>
                                                <% end %>
                                                <% end %>
                                                <tr>
                                                    <td>
                                                        <label>Engine</label>
                                                    </td>
                                                    <td>
                                                        <%= vehicle.engine %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Fuel Type</label>
                                                    </td>
                                                    <td>
                                                        <%= vehicle.fuel_type %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Mileage</label>
                                                    </td>
                                                    <td>
                                                        <%= number_with_delimiter(vehicle.mileage, :delimiter => ',') %>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-xs-3" id="right-col">
                                        <div class ="table-responsive">
                                            <a href="http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=WDB_0&vin=<%=vehicle.vin_num%>">
                                                <%=  image_tag 'carfax.png', :class=>"img-responsive", :id=>"carfax" %>
                                            </a>
                                            <table class="table table-striped" id="second-table">
                                                <tr>
                                                    <td >
                                                        <label>Exterior Color</label>
                                                    </td>
                                                    <td>
                                                        <%= vehicle.exterior_color %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Interior Color</label>
                                                    </td>
                                                    <td><%= vehicle.interior_color %> </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Body Style</label>
                                                    </td>
                                                    <td><%= vehicle.body_style %></td>
                                                </tr>
                                                <% if admin_signed_in? %>
                                                <tr>
                                                    <td>
                                                        <%= link_to 'Edit', edit_vehicle_path(vehicle), :class=>"button btn blue btn-default"%>
                                                    </td>
                                                    <td>
                                                        <%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button btn red btn-default"%>
                                                    </td>
                                                </tr>
                                                <% end %>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer ">
                            </div>
                        </div>
                        <% end %>
                        <% end %>
                        <div class="panel-footer ">
                            <center>  <%= paginate @vehicles %></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container dv" style="width:100%!important; position:absolute;left:0; right:0;">
        <div class="footer-vehicles" style="width:100%!important; position:absolute;left:0; right:0;">
            <h4>Deals <span style="font:normal 3.8vmin 'Cookie', cursive!important">Unlimited</span>, Inc.</h4>
            <h5>269-324-4285</h5>
        </div>
    </div>
    <div class="container mb" style="width:100%!important; position:absolute;left:0; right:0; display:none;">
        <div class="footer-vehicles" style="width:100%!important; position:absolute;left:0; right:0; height:100%;">
            <%= search_form_for @q do |f| %>
            <%= f.search_field :title_or_kind_or_make_or_model_cont,:class=>"gray",:placeholder=>"Year, Make, Model,...", :id=>"mobile-search-form" %>
            <%= f.submit :class =>'btn btn-default blue-btn', :id=>"mobile-search-btn" %>
            <% end %>
        </div>
    </div>
    <style>

    .pending-banner{
        background: #eee!important;
        margin-bottom: 1vmin!important;
         padding-top: 1.2vmin!important;

    }
    .caption h4 {
font-family: 'Black Ops One', cursive;
    color: #5383D3 !important;
    -webkit-font-smoothing: antialiased;
    }
    .caption {
        padding-left: 0!important;
        padding-right:0!important;
        padding-bottom: 0!important;
    width:100%;
    bottom: 0;
    position: absolute;
    background:none;}
    .thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
    }


    .btn-vehicles{
    display: none!important;
    }
    <%= render 'vehicleFooterStyle' %>
    body{min-height: 100%!important;}
    html,body, .row{height:100%;}
    select {display: inline-block!important;}
    #vehicle_title a, #vehicle_title{
    margin:0 0 0 0!important;
    padding:0 0 0 0!important;
    font-family: 'Black Ops One', cursive;
    font-size:3.3vmin;
    color:#5383D3 !important;
    }
    #vehicle-container{
    margin-bottom: 10vmin!important;
    }
    .pagination{
    margin-top: 0!important;
    background-color:transparent!important;
    width:100%;
    overflow-y:scroll!important;
    border:none!important;
    box-shadow: none!important;bottom:0;
    position: relative!important;
    display: inline-block!important;
    }
    .pagination a,.pagination em,.pagination span{
    padding:1vmin 2vmin 1vmin 2vmin;
    border-radius:1vmin;
    background-color: #f5f5f5;
    color:black;
    }
    .pagination span{
    border:0.3vmin double #ddd;
    }
    .footer-distributed{
    display: none!important;}
    .container-fluid{
    margin-top:15vmin!important;}
    .dark-panel{
    background-color:#292c2f!important; border-color:#292c2f;}
    #search, #vehicle-window{
    max-height:100%!important;
    height:auto!important;
    top:calc(0px + 11vmin)!important;
    bottom:0;
    }
    #search{
    position: fixed!important;
    float:left;
    width:35%;
    left:0;
    bottom:calc(0px + 7%);
    }
    #search .panel-default *{
    height:100%;
    max-height: 100%;
    }
    .searchbox{
    width:99%!important;
    }
    #vehthumb{
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    padding-top:1vmin;
    padding-bottom: 1vmin;
    background-color: #eee;
    }
    select, input, #q_year_gteq{
    line-height: 4.2vmin!important;
    margin-bottom: 0.7vmin!important;
    }
    #q_year_gteq, select{
    padding-bottom:2vmin!important;
    }
    #vehicle-container{
    padding-top: 0!important;
    }
    #vehicle-window{
    position: absolute!important;
    float:right;
    width:65%;
    right:0;
    }
    #vehicle-row{
    padding:0!important;
    }
    #vehicle-row .row{
    margin:0!important;
    }
    #img-col{padding:0 0 0 0!important;}
    #right-col{  margin-top: 1vmin!important;}
    #pricetag{
    padding: 0 0 0 0!important;
    margin-top: 0!important;
    }
    #price-tag-alert{
    text-align: center!important;
    margin-top: 0.5vmin!important;
    font-family:'Cookie', cursive;
    padding: 0 0 0 0!important;
    }
    #first-table tr td, #second-table tr td{
    padding:0!important;
    font-size:2vmin !important;
    }
    #first-table{
    padding-top:1vmin;
    margin-top: 1vmin;
    margin-bottom:0;
    }
    #q_year_lteq, #q_year_gteq, #q_price_lteq, #q_price_gteq{
    height:100%!important;
    padding:0!important;
    }
    /*==================================================
    =            Bootstrap 3 Media Queries             =
    ==================================================*/
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    #carfax{
    margin-bottom:2vmin!important;
    }
    #middle-col{
    margin-top:0.5vmin!important;
    }
    #middle-col #pricetag{
    margin-bottom:2.3vmin !important;
    }
    #right-col{
    margin-top:1.5vmin!important;
    }
    .img-responsive{
    max-height: 350px!important;
    }
    #search{
    width:26%!important;
    }
    #vehicle-window{
    width:74%!important;
    }
    #pricetag{
    font-size: 6.3vmin!important;
    }
    #first-table tr td,#second-table tr td{
    font-size:2vmin;
    padding:.5vmin!important;
    }
    }
    @media only screen and (max-width : 1190px) {
    #vehicle-window, #search{
    margin-top: 2vmin!important;
    }
    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    @media only screen and (max-width : 1190px) {
    #vehicle-window, #search{
    margin-top: 0!important;
    }
    .table-responsive{ overflow:hidden!important;
    border:none!important;}
    #img-col{padding:0 0 0 0!important;
    width:50%!important;}
    #first-table{
    margin-top: 0.5vmin!important;
    }
    #first-table tr td{
    font-size:2.2vmin!important;
    }
    #pricetag{
    margin-top: 0.5vmin!important;
    padding-top: 0!important;
    font-size:4.3vmin!important;
    margin-bottom: 1.5vmin!important;
    }
    #middle-col{
    width:27%!important;
    padding: 0 0.25vmin 0vmin 1vmin;
    }
    #right-col{
    float:right!important;
    width:23%!important;
    padding: 0 0.25vmin 0vmin 0.25vmin;
    }
    #first-table tr td, #second-table tr td{
    padding:0!important;
    font-size:1.5vmin !important;
    }
    #search{
    width:25%!important;
    margin-bottom:5%!important;
    }
    #vehicle-window{
    width:75%!important;
    }
    .panel-footer{
    display: hidden!important;
    }
    #first-table{
    font-size:1.4vmin!important;
    }
    #first-table tr{
    padding:0!important;
    }
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 900px) {
    .dv{
    display: none!important;
    }
    .mb{
    display:inline-block!important;
    }
    .mb .footer-vehicles, .mb{
    padding-right: 0!important;
    padding-bottom:0!important;
    height:8%!important;
    max-height: 8%!important;
    min-height:8%!important;
    }
    #mobile-search-form{
    position: absolute!important;
    float:left!important;
    width:72%!important;
    bottom:0!important;
    color:white!important;
    font-size:4vmin;
    border-radius:1vmin;
    border:1px solid #5383D3 !important;
    padding:0!important;
    padding-left:1vmin!important;
    height:78%!important;
    margin-bottom: 11%;
    margin-top: 11%;
    }
    #mobile-search-btn{
    position: absolute!important;
    right:0!important;
    width:23%!important;
    bottom:0!important;
    padding: 1vmin 1.9vmin 1vmin 2vmin;
    margin-right: 1vmin;
    height:78%!important;
    margin-bottom: 11%;
    margin-top: 11%;
    font-size: 3.5vmin;
    }
    .table-responsive  td{
    padding:0!important;
    margin:0!important;
    }
    #middle-col{
    width:50%!important;
    float:right!important;
    }
    #right-col{
    display:none!important;
    }
    #search{
    display: none!important;
    }
    #vehicle-window{
    width:100%!important;
    left:0!important;
    top:calc(0px + 15vmin)!important;
    }
    #each-vehicle{
    margin-bottom: 0.7rem!important;
    }
    .footer-vehicles {
    max-height: 7%!important;
    height: 7%!important;
    }
    #pricetag{
    padding-bottom:0.5vmin!important;
    padding-top:0.5vmin!important;
    font-size: 5.7vmin!important;
    }
    #first-table tr td,  #first-table tr td label{
    font-size:2.4vmin!important;
    padding:0.8vmin;
    }
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 830px) {
    #first-table tr td,  #first-table tr td label,  #first-table tr{
    padding:0!important;
    margin: 1vmin!important
    }
    #pricetag{
    padding-bottom:0.3vmin!important;
    padding-top:0.3vmin!important;
    font-size: 5.2vmin!important;
    }
    #first-table tr td,  #first-table tr td label{
    font-size:2vmin!important;
    padding:0.5vmin;
    }
    }
    @media only screen and (max-width : 540px) {
    #vehicle-window{
    margin-top:3vmin!important;
    }
    }
    @media only screen and (max-width : 440px) {
    #vehicle-window{
    margin-top:7vmin!important;
    }
    }
    /* Custom, iPhone Retina */
    @media only screen and (max-width : 450px) {
    .panel-footer{display: none!important;}
    .table-responsive{
    margin-bottom: 0!important;
    }
    #pricetag{
    padding-bottom:0.1vmin!important;
    padding-top:0.1vmin!important;
    font-size: 4.7vmin!important;
    }
    #first-table tr td,  #first-table tr td label,  #first-table tr{
    font-size:2.7vmin!important;
    padding:0!important;
    margin: 0.3vmin!important
    }
    #first-table tr td label{
    font-size:2.25vmin!important;
    }
    }
    @media only screen and (max-width : 380px) {
    #vehicle-window{
    margin-top: 13vmin!important;
    }
    }
    </style>