<style>
#vehicle_mobile_search,
.footer-vehicles{display:absolute!important;}
.footer-distributed{display:none!important;}
</style>

<div class = "container-fluid" id="index_container">
    <div class = "col-md-3 " id="search_col">
        <%= render 'vehicles/layouts/search_form' %>
    </div>
    <div class = "col-md-9" id="vehicles" >
        <% if admin_signed_in? %>
        <a href="vehicles/new" id="new_vehicle_button" class="waves-effect waves-circle waves-light btn-floating secondary-content">
            <i class="material-icons">add</i>
        </a>
        <% end %>
        <div class="panel panel-default vehicle_panel z-depth-4" >
            <div class="panel-heading" id="vehicle_panel_heading">
                <%= render 'vehicles/layouts/page_links' %>
            </div>
            <div class="panel-body " id="vehicle_col">
                <%= render 'vehicles/layouts/vehicles' %>
            </div>
            
            <div class="panel-footer"  id="page_link_footer" style="background:white; bottom: -8px; position: absolute; right:1.25%; left:1.25%; width: auto;">
                <center ><%= paginate @vehicles, :window => 5, :outer_window => 9%></center>
            </div>
        </div>
    </div>
</div>
<%= render 'vehicles/layouts/mobile_search' %>
<%= render 'vehicles/layouts/footer' %>