<div class="container" >
  <div class="col-sm-4" style=""id="left">
    <div class = "panel panel-default shadow" style=" margin-top:7rem!important; height:auto!important;">
      <div class = "panel-heading panel-black">  
      </div>
      <div class = "panel-body" style=" height:inherit!important;">
        <%= search_form_for @q do |f| %>
        <%= f.search_field :title_or_kind_or_make_or_model_cont,:class=>"gray",:placeholder=>"Basic Search" , :style=>"border:1px solid #eee!important; padding-left:5px!important;"%>
        <label for="q_kind" style="float:left!important;">Type of Vehicle</label>
        <%= f.select :kind_cont, options_for_select([['', ''], ['Car'], ['Truck'], ['SUV'], ['Van']]), :class=>"gray" %>
        <label for="q_make" style="float:left!important;">Make</label>
        <%= f.search_field :make_cont , :style=>"border:1px solid #eee!important; padding-left:5px!important;"%>
        <label for="q_make" style="float:left!important;">Model</label>
        <%= f.search_field :model_cont, :style=>"border:1px solid #eee!important; padding-left:5px!important;"%>
        <label for ="year"> Year</label>
        <div class="input-group" id="year">
          <%= f.select :year_gteq , options_for_select([['From', '0'], ['2016'], ['2015'], ['2014'], ['2013'], ['2012'], ['2011'], ['2010'], ['2009'], ['2008'], ['2007'], ['2006'], ['2005'], ['2004'], ['2003'], ['2002'], ['2001'], ['2000'], ['1999'], ['1990'], ['1980']], :placeholder=>"From", :type=>"text" , :class=>"form-control") %>
          <span class="input-group-addon">-</span>
          <%= f.select :year_lteq , options_for_select([['To', '2050'], ['2016'], ['2015'], ['2014'], ['2013'], ['2012'], ['2011'], ['2010'], ['2009'], ['2008'], ['2007'], ['2006'], ['2005'], ['2004'], ['2003'], ['2002'], ['2001'], ['2000'], ['1999'], ['1990'], ['1980']], :placeholder=>"To", :type=>"text" , :class=>"form-control")%>
        </div>
        <hr style="margin:0.5rem!important;">
        <label for ="price"> Price</label>
        <div class="input-group" id="price">
          <%= f.select :price_gteq , options_for_select([['From', '0'], ['$1,000','1000'], ['$2,000','2000'], ['$3,000','3000'], ['$4,000','4000'], ['$5,000','5000'], ['$6,000','6000'], ['$8,000','8000'], ['$10,000','10000']], :placeholder=>"From", :type=>"text" , :class=>"form-control") %>
          <span class="input-group-addon">-</span>
          <%= f.select :price_lteq , options_for_select([['To', '99999'], ['$5,000','5000'], ['$6,000','6000'], ['$8,000','8000'], ['$10,000','10000'], ['$12,000','12000'], ['$15,000','15000'], ['$20,000','20000'], ['$30,000','30000'], ['$50,000','50000']], :placeholder=>"To", :type=>"text" , :class=>"form-control") %>
        </div>
        <label for="mileage_lteq" style="float:left!important;">Max Mileage</label>
        <%= f.select :mileage_lteq , options_for_select([['Any', ''],
        ['25,000','25000'], ['50,000','50000'], ['75,000','750000'], ['100,000','100000'], ['150,000','150000'], ['250,000','250000']], :selected => :Any), :style=>"width:100%!important;" %>
      </div>
      <div class="panel-footer panel-black">
        <%= f.submit :class =>'btn btn-default blue-btn',:style=>' font-size:1.3rem; width:100%!important;height:100%!important;' %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-8" id="right" >
    <div class = "jumbotron" style="background-color:rgba(0,0,0,0)!important; border:none!important; margin-top:3.4rem!important;">
      
      <ul class="pagination"style="margin:0!important; float:right; padding:0!important; margin:0!important; ">
        <li style="padding:0!important; font-size:0.8rem!important;"><%= sort_link(@q, :price, :class=>"blue-btn") %></li>
        <li style="padding:0!important; font-size:0.8rem!important;"><%= sort_link(@q, :year, :class=>"blue-btn") %></li>
        <li style="padding:0!important; font-size:0.8rem!important;"><%= sort_link(@q, :mileage, :class=>"blue-btn") %></li>
      </ul>
      <% @vehicles.each do |vehicle| %>
      
      <div class="row" style="border-radius: 1rem;margin:0!important;  margin-top:0.5rem!important; margin-bottom:0.5rem!important; width:inherit!important; background-color:white; padding:0!important;" >
        <div class="col-lg-5" id="vehthumb" style=" margin:0!important; padding:0!important;" >
          <% if vehicle.import =='import'  %>
          <%=  link_to image_tag(vehicle.image_1),vehicle, :class=>"img-responsive" %>
          <% else %>
          <%=  link_to image_tag(vehicle.thumb),vehicle, :class=>"img-responsive" %>
          <% end %>
        </div>
        
        <div class="col-lg-4"style="height:auto">
          
          <h5 style="padding-top:1rem;"><%= link_to  vehicle.title, vehicle %></h5>
          <hr>
          <h5 style="color:#5383D3 !important">$<%= number_with_delimiter(vehicle.price, :delimiter => ',') %>.00</h5>
          
          <div class="jumbotron" style="padding:1.3rem;">
            <p class = "specs" style="font-size:1rem;"><%= vehicle.drive_type %></p>
            <% if vehicle.import =='import'  %>
            <% else %>
            <p class = "specs" style="font-size:1rem;"> <%= vehicle.mpg %> MPG</p>
            <% end %>
            <p class = "specs" style="font-size:1rem;"> <%= vehicle.engine %> Engine</p>
            <p class = "specs" style="font-size:1rem;">Fuel Type: <%= vehicle.fuel_type %></p>
            <p class = "specs" style="font-size:1rem;">Mileage: <%= number_with_delimiter(vehicle.mileage, :delimiter => ',') %></p>
          </div>
          <!--
          <%= link_to 'Show', vehicle %>
          <%= link_to 'Edit', edit_vehicle_path(vehicle) %>
          <%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'New Vehicle', new_vehicle_path %>
          -->
        </div>
        <div class="col-lg-3" style="margin:0!important; padding:0!important; "  >
          <div class="row row1" style="padding:0.7rem 2.5rem 0 2.5rem!important; " >
            <center>
            <a href="http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=WDB_0&vin=<%=vehicle.vin_num%>">
              <%=  image_tag 'carfax.png', :class=>"img-responsive 1" %>
            </a>
            </center>
          </div>
          <center>
          <div class="row row2" style="padding:2.7rem; padding-bottom:0!important;">
            <%= image_tag 'nada.png', :class=>"img-responsive 2"  %>
          </div>
          </center>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container" style="width:100%!important; position:absolute;left:0; right:0;">
  <div class="footer-vehicles" style="width:100%!important; position:absolute;left:0; right:0;">
    <h4>Deals <span style="font:normal 3.5vmin 'Cookie', cursive!important">Unlimited</span>, Inc.</h4>
    <h5>269-324-4285</h5>
  </div>
</div>
<style>
<%= render 'indexStyle' %>
<%= render 'vehicleFooterStyle' %>
</style>