<div class="container">
  <div class="row">
    <div class="col s3">
      <div class="panel panel-default" >
        <div class = "panel-heading">
          <div class="panel-title">
            Search
          </div>
        </div>
        <div id = ""class="panel-body">

          <%= search_form_for @q do |f| %>
         <%= f.label :price %>
          <%= f.search_field :price_cont %>
          <label for="q_kind">Type</label>
          <%= f.search_field :kind_cont %>
          <%= f.label :make %>
          <%= f.search_field :make_cont %>
          <%= f.label :year%>
          <%= f.search_field :title_cont %>
          <%= f.submit %>
          <% end %>
        </div>
        <div class= "panel-footer">
        </div>
      </div>
    </div>
    <div class="col s9">

      <% @vehicles.each do |vehicle| %>

      <div class="panel panel-default">
        <div class="panel-body" style="padding:0!important;">
          <div class = "col s5">
      <%=  link_to image_tag(vehicle.thumb),vehicle %>
          </div>
          <div class = "col s7">
            <div class = "row">
              <p style="font-size:1.5rem!important;padding-top:0.1rem;padding-left:1rem;"><%= vehicle.title%></p>
            </div>
            <div class = "row">
              <div class = "col s3">
              </div>
              <div class = "col s4">
              </div>
            </div>
          </div>
        </div>
      </div>

    
      <% end %>
    </div>
    <%= link_to 'New Vehicle', new_vehicle_path %>
  </div>
</div>
</div>
<style>
.panel-body{}
.row{margin-bottom: 0!important;}
.col .s5 img{width:90%;border-top-left-radius: 1.5%; border-bottom-left-radius: 1.5%;}
.col .s5{padding:0!important;}
.container{max-width: 90%!important;}
.s9{;float:right!important;}
.s3{;float:left!important;}
</style>
<!--
<div class ="container">
<div class = "panel panel-default ">
  <div class = "panel-body">
    <table>
      <tbody>
        <% @vehicles.each do |vehicle| %>
        <tr>
          <td><%= vehicle.kind %></td>
          <td><%= vehicle.status %></td>
          <td><%= vehicle.model %></td>
          <td><%= vehicle.title %></td>
          <td><%= vehicle.price %></td>
          <td><%= vehicle.make %></td>
          <td><%= vehicle.year %></td>
          <td><%= vehicle.body_style %></td>
          <td><%= vehicle.mileage %></td>
          <td><%= vehicle.exterior_color %></td>
          <td><%= vehicle.interior_color %></td>
          <td><%= vehicle.engine %></td>
          <td><%= vehicle.transmission %></td>
          <td><%= vehicle.drive_type %></td>
          <td><%= vehicle.vehicle_class %></td>
          <td><%= vehicle.mpg %></td>
          <td><%= vehicle.trim %></td>
          <td><%= vehicle.fuel_type %></td>
          <td><%= vehicle.stereo %></td>
          <td><%= vehicle.doors %></td>
          <td><%= vehicle.stock_number %></td>
          <td><%= vehicle.vin_num %></td>
          <td><%= image_tag vehicle.thumb %></td>
          <td><%= vehicle.description %></td>
          <td><%= vehicle.other_options %></td>
          
          <td><%= link_to 'Show', vehicle %></td>
          <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
          <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class = "panel-footer">
    <%= link_to 'New Vehicle', new_vehicle_path %>
  </div>
</div>
</div>
<style>
#titleV{
float:left!important;
}
#veh-count{
float:right!important;
}
</style>
-->