<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @vehicle.kind %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle.status %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Title:</strong>
  <%= @vehicle.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vehicle.price %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Body style:</strong>
  <%= @vehicle.body_style %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @vehicle.mileage %>
</p>

<p>
  <strong>Exterior color:</strong>
  <%= @vehicle.exterior_color %>
</p>

<p>
  <strong>Interior color:</strong>
  <%= @vehicle.interior_color %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @vehicle.engine %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @vehicle.transmission %>
</p>

<p>
  <strong>Drive type:</strong>
  <%= @vehicle.drive_type %>
</p>

<p>
  <strong>Vehicle class:</strong>
  <%= @vehicle.vehicle_class %>
</p>

<p>
  <strong>Mpg:</strong>
  <%= @vehicle.mpg %>
</p>

<p>
  <strong>Trim:</strong>
  <%= @vehicle.trim %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @vehicle.fuel_type %>
</p>

<p>
  <strong>Stereo:</strong>
  <%= @vehicle.stereo %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @vehicle.doors %>
</p>

<p>
  <strong>Stock number:</strong>
  <%= @vehicle.stock_number %>
</p>

<p>
  <strong>Vin num:</strong>
  <%= @vehicle.vin_num %>
</p>

<p>
  <strong>Thumb:</strong>
  <%= @vehicle.thumb %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle.description %>
</p>

<p>
  <strong>Other options:</strong>
  <%= @vehicle.other_options %>
</p>

<p>
  <strong>Image 1:</strong>
  <%= @vehicle.image_1 %>
</p>

<p>
  <strong>Image 2:</strong>
  <%= @vehicle.image_2 %>
</p>

<p>
  <strong>Image 3:</strong>
  <%= @vehicle.image_3 %>
</p>

<p>
  <strong>Image 4:</strong>
  <%= @vehicle.image_4 %>
</p>

<p>
  <strong>Image 5:</strong>
  <%= @vehicle.image_5 %>
</p>

<p>
  <strong>Image 6:</strong>
  <%= @vehicle.image_6 %>
</p>

<p>
  <strong>Image 6:</strong>
  <%= @vehicle.image_6 %>
</p>

<p>
  <strong>Image 7:</strong>
  <%= @vehicle.image_7 %>
</p>

<p>
  <strong>Image 8:</strong>
  <%= @vehicle.image_8 %>
</p>

<p>
  <strong>Image 9:</strong>
  <%= @vehicle.image_9 %>
</p>

<p>
  <strong>Image 10:</strong>
  <%= @vehicle.image_10 %>
</p>

<p>
  <strong>Image 11:</strong>
  <%= @vehicle.image_11 %>
</p>

<p>
  <strong>Image 12:</strong>
  <%= @vehicle.image_12 %>
</p>

<p>
  <strong>Image 13:</strong>
  <%= @vehicle.image_13 %>
</p>

<p>
  <strong>Image 14:</strong>
  <%= @vehicle.image_14 %>
</p>

<p>
  <strong>Image 15:</strong>
  <%= @vehicle.image_15 %>
</p>

<p>
  <strong>Image 16:</strong>
  <%= @vehicle.image_16 %>
</p>

<p>
  <strong>Image 17:</strong>
  <%= @vehicle.image_17 %>
</p>

<p>
  <strong>Image 18:</strong>
  <%= @vehicle.image_18 %>
</p>

<p>
  <strong>Image 19:</strong>
  <%= @vehicle.image_19 %>
</p>

<p>
  <strong>Image 20:</strong>
  <%= @vehicle.image_20 %>
</p>

<p>
  <strong>Image 21:</strong>
  <%= @vehicle.image_21 %>
</p>

<p>
  <strong>Image 22:</strong>
  <%= @vehicle.image_22 %>
</p>

<p>
  <strong>Image 23:</strong>
  <%= @vehicle.image_23 %>
</p>

<p>
  <strong>Image 24:</strong>
  <%= @vehicle.image_24 %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
