<% if admin_signed_in? %>
<%= render 'editPanel' %>
<% else %>
<% end %>
<div class ="container"  id="showpagecontainer" style="margin-bottom:3.5vmin!important;" >
  <div class = "row" >
    <div class = "panel panel-default z-depth-4" id="showpage">
      <% if @vehicle.status == "Sold" %>
      <div id ="headerinfo" class = "panel-heading  lighten-1" style ="padding-bottom:0!important; margin:0!important; color:white!important; background-color:#F44336!important;" >
        <% elsif  @vehicle.status == "Pending"%>
        <div id ="headerinfo" class = "panel-heading lighten-1" style ="padding-bottom:0!important; margin:0!important; color:white!important;  background-color:#5383D3!important;" >
          <% else %>
          <div id ="headerinfo" class = "panel-heading" style ="padding-bottom:0!important; margin:0!important; background-color:#fff; color:#5383D3;" >
            <% end %>
            <div class ="panel-title" style ="font-size:0.8rem;  margin-top:-.5rem!important;">
              <div class ="row">
                <div class ="col-sm-8" style ="float:left;">
                  <h5>
                  <%= @vehicle.year %>
                  <%= @vehicle.make %>
                  <%= @vehicle.model %>
                  </h5>
                  <div id ="">
                    <div class="row" style="margin:0!important;">
                      <label style="color:black">Price: </label>
                      $<%= number_with_delimiter(@vehicle.price, :delimiter => ',') %>.00
                    </div>
                    <div class="row" style="margin:0!important;">
                      <label style="color:black">Mileage: </label>
                      <%= number_with_delimiter(@vehicle.mileage, :delimiter => ',') %>
                    </div>
                    <div class="row" style="margin:0!important;">
                      <label style="color:black">VIN:</label>
                      <%= @vehicle.vin_num %>
                    </div>
                  </div>
                </div>
                <div class= "col-sm-4 " style="float:right;">
                  <link rel="stylesheet" href="/print.css" type="text/css" media="print" >
                  <a href="#" onclick="window.print();return false;"> <%=  image_tag 'https://res.cloudinary.com/dodczwtee/image/upload/c_scale,w_350/v1450511718/print_qr5axm.png', :class=>"img-responsive", :style=>"max-height:6.5rem!important; margin:0.8rem 0 0 0!important; float:right;" %></a>
                  <a href="http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=WDB_0&vin=<%=@vehicle.vin_num%>">
                    <%=  image_tag 'https://res.cloudinary.com/dodczwtee/image/upload/v1450511739/carfax_c9e7dd.jpg', :class=>"img-responsive", :style=>"max-height:6.5rem!important; margin:0.8rem 0 0 0!important; float:right;" %>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <center>
          <div id ="mobileinfo" class = "panel-heading" style ="padding-bottom:0!important; margin:0!important; display:none; width:98%!important;" >
            <div class ="panel-title" style ="font-size:0.8rem; color:#5383D3; margin-top:-.5rem!important;">
              <div class ="row">
                <table class="table">
                  <tr>
                    <td  style="border:none!important;">
                      <h5>
                      <%= @vehicle.year %>
                      <%= @vehicle.make %>
                      <%= @vehicle.model %>
                      </h5>
                    </td>
                    <td>
                      <a href="http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=WDB_0&vin=<%=@vehicle.vin_num%>">
                        <%=  image_tag 'https://res.cloudinary.com/dodczwtee/image/upload/v1450511739/carfax_c9e7dd.jpg', :class=>"img-responsive", :style=>"max-height:4.5rem!important; margin:0.4rem 0 0 0!important; float:right;" %>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label style="color:black">Price: </label>
                    </td>
                    <td>
                      $<%= number_with_delimiter(@vehicle.price, :delimiter => ',') %>.00
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label style="color:black">VIN:</label>
                    </td>
                    <td>
                      <%= @vehicle.vin_num %>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          </center>
          <%= render 'showImages' %>
          <div class="panel-body">
            <%= render 'showInfo' %>
          </div>
        </div>
      </div>
      <div class="admin_edit_links" style="position:absolute; visibility:hidden; left:0; right:0; border:1px solid black; background-color:#eee;">
        <center>
        <%= link_to 'Edit', edit_vehicle_path(@vehicle), :class=>'btn blue btn-default' %> |
        <%= link_to 'Back', vehicles_path, :class=>'btn orange btn-default'  %>
        </center>
      </div>
    </div>
    <%= render 'layouts/application/footerVehicles' %>
  </div>
  <%= render 'print' %>
  <style>
  @media only screen and (max-width : 800px) {
  .row{
  margin-top:2vmin!important;
  width:96%!important;
  margin-left:2%!important;
  margin-right: 2%!important;
  }
  #mobileinfo .row, #mobileinfo table{margin-bottom: 0!important;}
  section{border:1vmin double #eee;}
  section .vehicle_thumb img{
  max-width: 80%!important;
  width:80%!important;
  margin-right: 5%!important
  }
  }
  body {overflow: hidden;}
  section {
  width:100%!important;
  margin: 0 auto;
  white-space:nowrap;
  overflow: scroll;
  }
  .vehicle_thumb img{max-width:30rem!important;}
  #img-scroll img{ width:30rem!important;}
  @media (max-width: 750px){
  #printbutton, #headerinfo{display: none!important;}
  #mobileinfo{display:inline-block!important;}
  }
  .footer-distributed{display:none!important;}
  @media (max-width: 773px){.footer-distributed {display: fixed!important;}
        }
        @media (max-width: 600px){.features *{
            font-size:3.3vmin!important;
        }
  </style>