<div class ="container">
  <p id="notice"><%= notice %></p>
  <div class = "row">
    <div class = "col-lg-6">
      <div class = "panel panel-default ">
        <div class = "panel-heading">
          <div class = "panel-title">
            <h5>Vehicle Info</h5>
          </div>
        </div>
        <div class = "panel-body">
          <div class="form-inputs">
            <p>
              <strong>VIN</strong>
              <%= @vehicle.vin_num %>
            </p>
            <p>
              <strong>Type</strong>
              <%= @vehicle.kind %>
            </p>
            <p>
              <strong>Status</strong>
              <%= @vehicle.status %>
            </p>
            <p>
              <strong>Model</strong>
              <%= @vehicle.model %>
            </p>
            <p>
              <strong>Title</strong>
              <%= @vehicle.title %>
            </p>
            <p>
              <strong>Price</strong>
              <%= @vehicle.price %>
            </p>
            <p>
              <strong>Make</strong>
              <%= @vehicle.make %>
            </p>
            <p>
              <strong>Year</strong>
              <%= @vehicle.year %>
            </p>
            <p>
              <strong>Body Style</strong>
              <%= @vehicle.body_style %>
            </p>
            <p>
              <strong>Mileage</strong>
              <%= @vehicle.mileage %>
            </p>
            <p>
              <strong>Exterior Color</strong>
              <%= @vehicle.exterior_color %>
            </p>
            <p>
              <strong>Interior Color</strong>
              <%= @vehicle.interior_color %>
            </p>
            <p>
              <strong>Engine</strong>
              <%= @vehicle.engine %>
            </p>
            <p>
              <strong>Transmission</strong>
              <%= @vehicle.transmission %>
            </p>
            <p>
              <strong>Drive Type</strong>
              <%= @vehicle.drive_type %>
            </p>
            <p>
              <strong>Class</strong>
              <%= @vehicle.vehicle_class %>
            </p>
            <p>
              <strong>Combined MPG</strong>
              <%= @vehicle.mpg %>
            </p>
            <p>
              <strong>Trim</strong>
              <%= @vehicle.trim %>
            </p>
            <p>
              <strong>Fuel Type</strong>
              <%= @vehicle.fuel_type %>
            </p>
            <p>
              <strong>Stereo</strong>
              <%= @vehicle.stereo %>
            </p>
            <p>
              <strong># of Doors</strong>
              <%= @vehicle.doors %>
            </p>
            <p>
              <strong>Stock Number</strong>
              <%= @vehicle.stock_number %>
            </p>
            <p>
              <strong>Description</strong>
              <%= @vehicle.description %>
            </p>
            <p>
              <strong>Other Options</strong>
              <%= @vehicle.other_options %>
            </p>
          </div>
        </div>
        <div class = "panel-footer">
        </div>
      </div>
    </div>
    <div class ="col-lg-6">
      <div class = "panel panel-default">
        <div class = "panel-heading">
          <div class = "panel-title">
            <h5>Images</h5>
          </div>
        </div>
        <div class = "panel-body">
          <div class="form-inputs">
            <div class = "panel panel-default">
              <div class = "panel-body">
                <%= image_tag @vehicle.thumb  %>
              </div>
            </div>
            <div class = "panel panel-default">
              <div class = "panel-body">
                <div class = "row">
                  <div class ="row">
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_1  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_2  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_3  %>
                    </div>
                  </div>
                  <div class ="row">
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_4  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_5  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_6  %>
                    </div>
                  </div>
                  <div class ="row">
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_7  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_8  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_9  %>
                    </div>
                  </div>
                  <div class ="row">
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_10  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_11  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_12  %>
                    </div>
                  </div>
                  <div class ="row">
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_13  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_14 %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_15 %>
                    </div>
                  </div>
                  <div class ="row">
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_16  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_17  %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_18  %>
                    </div>
                  </div>
                  <div class ="row">
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_19 %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_20 %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_21 %>
                    </div>
                  </div>
                  <div class ="row">
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_22 %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_23 %>
                    </div>
                    <div class ="col-lg-4">
                      <%= image_tag @vehicle.image_24 %>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
select{display: block!important;}
.col-lg-4 img{ width:100%;}
</style>
<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>