<div class ="container">
  <p id="notice"><%= notice %></p>
  <div class = "row">
    <div class = "col-lg-6">
      <div class = "panel panel-default ">
        <div class = "panel-heading">
          <div class = "panel-title">
            <h5>Vehicle Info</h5>
          </div>
        </div>
        
        <div class = "panel-body">
          <div class="form-inputs">
            <p>
              <strong>VIN</strong>
              <%= @vehicle.vin_num %>
            </p>
            <p>
              <strong>Type</strong>
              <%= @vehicle.kind %>
            </p>
            <p>
              <strong>Status</strong>
              <%= @vehicle.status %>
            </p>
            <p>
              <strong>Model</strong>
              <%= @vehicle.model %>
            </p>
            <p>
              <strong>Title</strong>
              <%= @vehicle.title %>
            </p>
            <p>
              <strong>Price</strong>
              <%= @vehicle.price %>
            </p>
            <p>
              <strong>Make</strong>
              <%= @vehicle.make %>
            </p>
            <p>
              <strong>Year</strong>
              <%= @vehicle.year %>
            </p>
            <p>
              <strong>Body Style</strong>
              <%= @vehicle.body_style %>
            </p>
            <p>
              <strong>Mileage</strong>
              <%= @vehicle.mileage %>
            </p>
            <p>
              <strong>Exterior Color</strong>
              <%= @vehicle.exterior_color %>
            </p>
            <p>
              <strong>Interior Color</strong>
              <%= @vehicle.interior_color %>
            </p>
            <p>
              <strong>Engine</strong>
              <%= @vehicle.engine %>
            </p>
            <p>
              <strong>Transmission</strong>
              <%= @vehicle.transmission %>
            </p>
            <p>
              <strong>Drive Type</strong>
              <%= @vehicle.drive_type %>
            </p>
            <p>
              <strong>Class</strong>
              <%= @vehicle.vehicle_class %>
            </p>
            <p>
              <strong>Combined MPG</strong>
              <%= @vehicle.mpg %>
            </p>
            <p>
              <strong>Trim</strong>
              <%= @vehicle.trim %>
            </p>
            <p>
              <strong>Fuel Type</strong>
              <%= @vehicle.fuel_type %>
            </p>
            <p>
              <strong>Stereo</strong>
              <%= @vehicle.stereo %>
            </p>
            <p>
              <strong># of Doors</strong>
              <%= @vehicle.doors %>
            </p>
            <p>
              <strong>Stock Number</strong>
              <%= @vehicle.stock_number %>
            </p>
            <p>
              <strong>Description</strong>
              <%= @vehicle.description %>
            </p>
            <p>
              <strong>Other Options</strong>
              <%= @vehicle.other_options %>
            </p>
          </div>
        </div>
        <div class = "panel-footer">
        </div>
      </div>
    </div>
    <div class ="col-lg-6">
      <div class = "panel panel-default">
        <div class = "panel-heading">
          <div class = "panel-title">
            <h5>Images</h5>
          </div>
        </div>
        <div class = "panel-body">
          <div class="form-inputs">
            <div class = "panel panel-default vehThumb">
              <% if @vehicle.import='import'  %>
              <div class = "panel-body ">
                <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_1 %>
              </div>
            </div>
            <div class = "panel panel-default">
              <div class = "panel-body">
                <div class ="row">
                <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_1 %></div>
              </div>
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_2 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_3 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_4 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_5 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_6 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_7 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_8 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_9 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_10 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_11 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_12 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_13 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_14 %></div>
            <div class ="row">
            <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_15 %></div>
            <div class ="row">
              <%= image_tag OldImage.where("title <= ?", @vehicle.title).first.image_16 %>
            </div>
          </div>
        </div>
        <% else %>
        <div class = "panel-body ">
          <%= image_tag @vehicle.vehicle_images[0].url, :class =>""  %>
        </div>
      </div>
      <div class = "panel panel-default">
        <div class = "panel-body">
          
          <%= @vehicle.vehicle_images.each do |p| %>
          <div class ="row">
            <%=image_tag p.url %>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>
<style>
.row img{
width:100%!important;
}
.vehThumb{max-width:256px!important;}
select{display: block!important;}
.col-lg-4 img{ width:100%;}
</style>
<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>