<% @vehicles.each do |vehicle| %>
<% if (vehicle.status == "Sold") &! (admin_signed_in?) %>
<% next %>
<% else %>
<!-- Panel Begins Per Car -->
<!--                      -->
<div class="panel panel-default vehicle_each" >
    <!-- Vehicle Status-->
    <!--               -->
    <% if vehicle.status == "Sold" %>
    <div class="panel-heading" style="color:white!important; background-color:#F44336!important;" >
        <div class="admin_btn" style="float:right!important">
            <% if admin_signed_in? %>
            <%= link_to 'Edit', vehicle_path(vehicle),:style=>"background-color:#5383D3!important;", :class=>" btn btn-default z-depth-1 btn waves-effect waves-white"%>
            <%= link_to 'Delete', vehicle, method: :delete, data: { confirm: 'Are you sure?' }, :class=>" btn red btn-default z-depth-3 btn waves-effect waves-red"%>
            <% end %>
        </div>
        <div class="panel-title">
            <h5 id="vehicle_title"  >
            <%= link_to  vehicle.title, vehicle,:style=>"color:white!important;" %>
            </h5>
        </div>
    </div>
    <% elsif (vehicle.status == "Pending") && (admin_signed_in?) %>
    <div class="panel-heading" style="background-color:#5383D3 !important" >
        <div class="admin_btn" style="float:right!important">
            <% if admin_signed_in? %>
            <%= link_to 'Edit', vehicle_path(vehicle),:style=>"background-color:#5383D3!important;", :class=>" btn btn-default z-depth-1 btn waves-effect waves-white"%>
            <%= link_to 'Delete', vehicle, method: :delete, data: { confirm: 'Are you sure?' }, :class=>" btn red btn-default z-depth-1 btn waves-effect waves-red"%>
            <% end %>
        </div>
        <div class="panel-title">
            <h5 id="vehicle_title">
            <%= link_to  vehicle.title, vehicle,:style=>"color:white!important;" %>
            </h5>
        </div>
    </div>
    <% else %>
    <div class="panel-heading" >
        <div class="admin_btn" style="float:right!important">
            <% if admin_signed_in? %>
            <%= link_to 'Edit', vehicle_path(vehicle),:style=>"background-color:#5383D3!important;", :class=>" btn btn-default z-depth-1 btn waves-effect waves-white"%>
            <%= link_to 'Delete', vehicle, method: :delete, data: { confirm: 'Are you sure?' }, :class=>" btn red btn-default z-depth-1 btn waves-effect waves-red"%>
            <% end %>
        </div>
        <div class="panel-title">
            <h5 id="vehicle_title" >
            <%= link_to  vehicle.title, vehicle %>
            </h5>
        </div>
    </div>
    <% end %>
    <!-- Vehicle Status END-->
    <!--                   -->
    <!-- Vehicle Body      -->
    <div class="panel-body" id="vehicle_body" >
        <section>
            <div class="row" style="margin-bottom:0; height:inherit;">
                <!-- TITLE AND CARFAX     -->
                <div class="col-xs-5" id="veh_col_1" style="padding-left:0; height:100%;!important; padding:auto; background-color:#f2f2f2;">
                    <% if vehicle.thumb.present? %>
                    <div class="thumbnail text-center">
                        <%=  link_to image_tag(vehicle.thumb),vehicle  %>
                        <div class="caption">
                            <% if vehicle.status.present? %>
                            <% if ((vehicle.status == "Pending") ||(vehicle.status =='pending')) %>
                            <h4 class="pending-banner"> Sale Pending </h4>
                            <% end %>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                </div>
                
                <div class="col-xs-7" id="veh_col_2">
                    
                    <!-- TITLE AND CARFAX END  -->
                    <table class="table table-striped vehicle_table_each" id="vehicle_window_table">
                        <tr >
                            <td colspan="3" id="price_tag_td" style="color:#428bca; padding:0!important;">
                                <h4 class="price_tag" style="font-size:6.5vmin" >$<%= number_with_delimiter(vehicle.price, :delimiter => ',') %>.00</h4>
                            </td>
                            <td colspan="1" style="background:none!important;">
                                <a href="http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=WDB_0&vin=<%=vehicle.vin_num%>" class="carfax" style="max-width:100%;height:auto;">
                                    <%=  image_tag 'https://res.cloudinary.com/dodczwtee/image/upload/v1451560989/small_evnhrs.jpg',:style=>"max-width:100%" %>
                                </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <label>Drive Type:</label>
                            </td>
                            <td>
                                <%= vehicle.drive_type %>
                            </td>
                            <td >
                                <label >Exterior Color</label>
                            </td>
                            <td>
                                <%= vehicle.exterior_color %>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <label>Engine</label>
                            </td>
                            <td>
                                <%= vehicle.engine %>
                            </td>
                            <td>
                                <label >Interior Color</label>
                            </td>
                            <td>
                                <%= vehicle.interior_color %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Fuel Type</label>
                            </td>
                            <td>
                                <%= vehicle.fuel_type %>
                            </td>
                            
                            <td>
                                <label >Body Style</label>
                            </td>
                            <td>
                                <%= vehicle.body_style %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Mileage</label>
                            </td>
                            <td>
                                <%= number_with_delimiter(vehicle.mileage, :delimiter => ',') %>
                            </td>
                            <% if ((vehicle.import !='import') && (vehicle.mpg != "undefined")) %>
                            <td>
                                <label>MPG</label>
                            </td>
                            <td>
                                <%= vehicle.mpg %>
                            </td>
                            <% else %>
                            <td>
                                <label>Stereo</label>
                            </td>
                            <td>
                                <%= vehicle.stereo %>
                            </td>
                            <% end %>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </section>
    </div>
    <!-- Vehicle Body END-->
    <!--                  -->
</div>
<!-- Vehicle Panel END-->
<!--                   -->
<% end %>
<% end %>