<style>
#showpagecontainer{margin-top:0!important;}
#status-container #vehicle_price{border:1px solid #ddd!important;}
input .integer .optional .vehicle_price{height:100%!important;}
#vehicle_price{margin:0!important;}
#vehicle_price{border:none!important;}
#form{margin-top: 0!important;}
#panel-edit{margin-bottom:0!important;}
#panel-status{margin-bottom:0!important;}
#panel-status h5{color:white!important;}
#forsale-btn{padding-top:0!important;}
@media only screen and (max-width : 800px) {
#status-container{margin-top: 5vmin!important;}
#panel-title h5{color:white!important;}
#panel-title, #panel-title h5{padding:0!important;margin:0!important;}}
</style>
<div class="container" id="stat-container">
	<div class="row" id="status-container">
		<div class="panel panel-default z-depth-4" id ="panel-status">
			
			<%= @status.html_safe%>
			<div class="panel-body" style="padding-bottom:0!important;">
				<div class="row">
					<div class="col-sm-4">
						<table class="table edit_panel_table" style="margin-bottom:0px!important; margin-top:1.5vmin!important;">
							<tr>
								<td style="padding:1vmin!important;">
									Total Views:
								</td>
								<td style="padding:1vmin!important; color:#777;">
									<%= @vehicle.countclicks %>
								</td>
							</tr>
							<tr>
								<td style="padding:1vmin!important;">
									Days Old:
								</td>
								<td style="padding:1vmin!important; color:#777;">
									<%= ((DateTime.now.to_date)-(@vehicle.created_at.to_date)).to_i %>
								</td>
							</tr>
							<tr>
								<td style="padding:1vmin!important;">
									Vehicle Created on:
								</td>
								<td style="padding:1vmin!important; color:#777;">
									<%= @vehicle.created_at.to_date %>
								</td>
							</tr>
							<tr>
								<td style="padding:1vmin!important;">
									Last Updated on:
								</td>
								<td style="padding:1vmin!important; color:#777;">
									<%= @vehicle.updated_at.to_date %>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-4">
						<table>
							<%= simple_form_for @vehicle, :remote => true do |s| %>
							<tr>
								<td style="padding:1vmin!important;" >
									<div class="input-group" >
										<span class="input-group-addon">$</span>
										<%= s.input :price , :class=>"form-control no-border", :type=>"text", label: false%>
										<span class="input-group-addon">.00</span>
									</div>
								</td>
							</tr>
							<tr><td><hr></td></tr>
							<tr>
								<td style="padding:1vmin!important;">
										<%= link_to 'Update Price', {:controller => "admin", :action => "set_price", :vehicle => @vehicle.id }, :remote => true, :class => 'btn edit_price_btn',:style=>"display:none;" %>
									<%= s.button :submit ,:class=>"blue z-depth-2 ", :value=>"$ Update Price",:style=>"height:100%!important; width:100%!important; background-color:#5383D3!important; color:white!important; font-weight:bold!important;", :onclick=>"$('.edit_price_btn').click();" %>
								</td>
							</tr>
							<% end %>
						</table>
					</div>
					<div class="col-sm-4" style="height:100%!important; padding-bottom:0!important;" >
						<table class="table"style="margin-bottom:0px!important; margin-top:1.5vmin!important;">
							<tr>
								<td >
									<%= link_to 'Edit', edit_vehicle_path(@vehicle),:style=>" width:100%; font-weight: bold!important; background-color: #5383D3!important;", :class=>"font-weight:bold!important;  btn btn-default z-depth-1 btn waves-effect waves-white",:id=>"hide-me"%>
								</td>
								<td id = "forsale-btn-td">
									<%= link_to 'Sale', {:controller => "admin", :action => "set_sale", :vehicle => @vehicle.id }, :remote => true,:type=>"button", :class => 'btn edit_sale_btn',:style=>" width:100%; background-color:#4CAF50 !important; font-weight:bold!important; ",:id=>"forsale-btn-edit" %>
								</td>
							</tr>
							<tr>
								<td>
									<%= link_to 'Delete', @vehicle, method: :delete, data: { confirm: 'Are you sure?' },:style=>"font-weight: bold!important; width:100%; font-weight:bold!important; ", :class=>"btn orange btn-default z-depth-1 btn waves-effect waves-red"%>
									
								</td>
								<td id="pending-btn-td" >
									<%= link_to 'Pending', {:controller => "admin", :action => "set_pending", :vehicle => @vehicle.id }, :remote => true, :class => 'btn edit_pending_btn',:style=>"background-color:#5383d3 !important;width:100%; font-weight:bold!important; " %>
								</td>
							</tr>
							<tr>
								<td>
									<button onclick="window.history.back();"style="width:100%;  font-weight:bold!important; " class=" btn btn-default teal z-depth-1 btn waves-effect waves-white">Back</button>
								</td>
								<td id="sold-btn-td" >
									<%= link_to 'Sold', {:controller => "admin", :action => "set_sold", :vehicle => @vehicle.id }, :remote => true, :class => 'btn red edit_sold_btn', :style =>"width:100%; font-weight:bold!important; " %>
								</td>
							</tr>
							
						</table>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
