<style>
#vehicle_other_options{
display: none!important;
}
.featurelabel{
font-size: 1.5vmin!important;
width:15%!important;
}
.error, .error_notification{
color:red!important;
}
input{
margin-bottom: 0!important;
border-bottom: none!important;
}
td{
padding: 0!important;
}
#vehicle_description{
height:150px!important;
}
#vehicle_title{
font-size: 1rem!important;
font-family: sans-serif!important;
}
label{display: none!important;}
select{display: block!important;}
.col-lg-4 img{ width:100%;}
</style>
<%= render 'layouts/application/htmlEdit' %>
<div class ="container" id="form">
    <div class = "row">
        <%= simple_form_for(@vehicle) do |f| %>
        <%= f.error_notification %>
        <div class = "col-md-6"  style="padding: .25vmin 1vmin 0 0!important;">
            <div class = "panel panel-default z-depth-4">
                <div class = "panel-heading" style="background-color:#292c2f!important; ">
                    <div class ="panel-title">
                        <h5 style="color:#eee">Vehicle Info</h5>
                    </div>
                </div>
                <div class="panel-body" style="padding-bottom:0!important;">
                    <table class="table table-hover" style=" border-bottom:1px solid #ddd;margin-bottom:0.5vmin!important;">
                        <tr>
                            <td style="position:relative; border-top:none!important;"class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute; ">VIN: </p></td>
                            <td style="border-top:none!important;"><%= f.input :vin_num %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Price: </p></td>
                            <td><%= f.input :price, :input_html=>{:style=>"border:none!important;"} %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Mileage: </p></td>
                            <td><%= f.input :mileage %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:0.2vmin!important;position:absolute;">Color: </p></td>
                            <td><%= f.input :exterior_color %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:0.2vmin!important;position:absolute;">Interior: </p></td>
                            <td><%= f.input :interior_color %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Stereo: </p></td>
                            <td><%= f.input :stereo %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Stock #: </p></td>
                            <td style="border-bottom:1px solid #ddd!important"><%= f.input :stock_number %></td>
                        </tr>
                        <tr><td colspan="2"><hr class="seperator"style="border:none!important;"></td></tr>
                        <tr>
                            <td colspan="2"><%= f.input :description , as: :text,:id=>"descr"%></td>
                        </tr>
                        
                        <tr>
                            <td><%= f.input :other_options, :id=>"other_options" %></td>
                        </tr>
                        <tr><td colspan="2"><hr class="seperator" style="border:none!important;"></td></tr>
                        <tr>
                            <td colspan="2" ><%= render "/vehicles/admin/feature_list" %></td>
                        </tr>
                        <tr>
                            <td colspan="2" id="accept-div">
                                <button onclick="acceptFeatures();" class="btn teal btn waves-effect waves-teal" id="accept" type="button" style="width:100%!important; font-weight:bold;">Accept/Edit Options</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"> <%= f.label :vehicle_images %></td>
                        </tr>
                        <tr>
                            <td colspan="2"><%= f.file_field :vehicle_images, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" ,:style=>"display:none!important;",  :id=>"img-btn"%></td>
                        </tr>
                        <tr><td colspan="2"><hr class="seperator" ></td></tr>
                        <tr>
                            <td colspan="2">
                                <button type="button" onclick="document.getElementById('img-btn').click();"  class="btn waves-effect waves-white" type="button"style="float:right; background-color:#5383D3; width:100%!important; font-weight:bold;">Select Images</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class = "panel-footer">
                </div>
            </div>
        </div>
        <div class = "col-md-6"  style="padding:.25vmin 0 0 1vmin!important;">
            <div class = "panel panel-default z-depth-4 ">
                <div class = "panel-heading" style="background-color:#292c2f!important;">
                    <div class = "panel-title" >
                        <h5>.
                        <button class="btn waves-effect waves-teal" type="button"style="float:right; font-weight:bold; background-color:#5383D3;" onclick="VIN_O_Matic(document.getElementById('vehicle_vin_num').value);" >Fill with VIN</button>
                        <button class="btn waves-effect waves-yellow" type="button"style="float:right; font-weight:bold; background-color:#ffab40!important;  margin-right:1vmin;"  onclick="highlight(0);"id="highlight_button">Highlight Emptys</button>
                        </h5>
                    </div>
                </div>
                <div class="panel-body" style="padding-bottom:0!important;">
                    <table class="table table-hover" style=" border-bottom:1px solid #ddd;margin-bottom:0.5vmin!important;">
                        <tr>
                            <%= f.input :kind, collection: [:Car, :Truck, :SUV, :Van],:style=>"width:100%!important;", :prompt =>"Type of Vehicle"%>
                        </tr>
                        <tr>
                            <%= f.input :status,:id=>'vehicleselect', collection: [:Sale, :Pending, :Sold] ,:prompt=>"Sale Status"%>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Title:</p></td>
                            <td><%= f.input :title %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Year:</td>
                            <td><%= f.input :year %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Make:</p></td>
                            <td><%= f.input :make %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Model:</p></td>
                            <td><%= f.input :model, :class => "form-control" %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Body Style:</p></td>
                            <td><%= f.input :body_style %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Engine:</p></td>
                            <td><%= f.input :engine %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Trans:</p></td>
                            <td><%= f.input :transmission %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Drive Type:</p></td>
                            <td><%= f.input :drive_type %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Class:</p></td>
                            <td><%= f.input :vehicle_class %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Doors:</p></td>
                            <td><%= f.input :doors %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">MPG:</p></td>
                            <td><%= f.input :mpg %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Trim:</p></td>
                            <td><%= f.input :trim %></td>
                        </tr>
                        <tr>
                            <td style="position:relative; "class="featurelabel"><p style="bottom:1.1vmin!important;position:absolute;">Fuel Type:</p></td>
                            <td> <%= f.input :fuel_type %>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class = "panel-footer">
                    <button  class="btn waves-effect waves-white" id= "update" style="width:100%!important; background-color:#5383D3; width:100%!important; font-weight:bold;">Submit Vehicle</button>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>