<%= render 'layouts/application/htmlEdit' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default z-depth-4" style="border-color:#bbb;">
        <div class="panel-heading panel-black" id="testi-heading">
          <div class="panel-title" id="testimonial-title">
            <h4 style="color:white!important;">Testimonials</h4>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <%= simple_form_for(@testimonial) do |f| %>
            <%= f.error_notification %>
                     <thead>
                         <td>Author Name</td>
                         <td>Date Written</td>
                      </thead>

            <tr>
              <td><%= f.input :name,:required=>"true",:placeholder=>"......" %></td>
              <td><%= f.input :date,:required=>"true" ,:placeholder=>"......"%></td>
            </tr>
            <tr>
              <td colspan="2">
                <div id="jRate" ></div>
              </td>
            </tr>
            
          </table>
          <%= f.input :testimonial, :placeholder=>"Testimonial",:required=>"true" %>
        </div>
        <div class="panel-footer panel-black">
          <%= f.button :submit, :style=>"width:100%!important;", :class=>"blue-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
label{
display: none!important;
}
#testimonial_name,#testimonial_date ,#testimonial_stars {
margin:0!important;
}
td{
padding: 0!important;
margin: 0!important;
}
svg{
height:45px!important;
width:45px!important;
}
</style>
<script>
$(function () {
var that = this;
var toolitup = $("#jRate").jRate({
rating:  $('#testimonial_stars').val(),
strokeColor: 'black',
precision: 0.25,
minSelected: 1,
onChange: function(rating) {
//console.log("OnChange: Rating: "+rating);
},
onSet: function(rating) {
$('#testimonial_stars').val(rating);
}
});

});
</script>