<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading panel-black">
					<div class="panel-title">
						<h5>Testimonial Created</h5>
					</div>
				</div>
				<div class="panel-body">
					
					<p>
						<strong>Name:</strong>
						<%= @testimonial.name %>
					</p>
					<p>
						<strong>Stars:</strong>
						<%= @testimonial.stars %>
					</p>
					<p>
						<strong>Testimonial:</strong>
						<%= @testimonial.testimonial %>
					</p>
					<p>
						<strong>Date:</strong>
						<%= @testimonial.date %>
					</p>
				</div>
				<div class="panel-footer panel-black">
					<% if admin_signed_in? %>
					<div class="admin_edit_links" style="position:absolute;  left:0; right:0; border:1px solid black; background-color:#eee;">
						<center>
						<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
						<%= link_to 'Back', testimonials_path %>
						</center>
					</div>
					<% end %>
				</div>
			</div>
			
		</div>
	</div>
</div>
</div>