<!DOCTYPE html>
<html>
    <head>
        <title>Deals Unlimited Inc.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Deals Unlimited Inc. Fine Used Vehicles Portage, Kalamazoo, SchoolCraft, Vicksburg Calls Us Today at 269-324-4285">
        <meta charset="UTF-8">
        <meta name="description" content="Deals Unlimited, Inc. Fine Used Cars, Trucks, SUVs and Vans 8705 Portage Road, Portage MI 49002. Call Us at (269)-324-4285 used cars kalamazoo, used cars portage">
        <link rel="Welcome" href="https://www.DealsUnlimitedInc.com/">
        <link rel="Copyright" href="https://www.DealsUnlimitedInc.com/policy">
        <link rel="Vehicles" href="https://www.DealsUnlimitedInc.com/vehicles">
        <link rel="Inventory" href="https://www.DealsUnlimitedInc.com/vehicles">
        <link rel="Cars" href="https://www.DealsUnlimitedInc.com/vehicles">
        <link rel="Trucks" href="https://www.DealsUnlimitedInc.com/vehicles">
        <link rel="SUVs" href="https://www.DealsUnlimitedInc.com/vehicles">
        <link rel="Vans" href="https://www.DealsUnlimitedInc.com/vehicles">
        <link rel="Minivans" href="https://www.DealsUnlimitedInc.com/vehicles">
        <meta property="og:title" content="Deals Unlimited Inc. Fine Used Vehicles Portage, Kalamazoo, SchoolCraft, Vicksburg Calls Us Today at 269-324-4285">
        <meta property="og:image" content="https://res.cloudinary.com/dodczwtee/image/upload/v1449894856/Location_Sign_vq1c7q.png">
        <meta property="og:description" content="Deals Unlimited, Inc. Fine Used Vehicles. 8705 Portage Road, Portage MI 49002. Call Us Today at (269)-324-4285">
        <meta property="og:site_name" content="Deals Unlimited Inc. Fine Used Vehicles Portage, Kalamazoo, SchoolCraft, Vicksburg.">
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <%= stylesheet_link_tag  'application'%>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>
    <body class="body" >
    <div class="font_preload" style="opacity: 0">
    <span style="font-family: 'Black Ops One';"></span>
    <span style="font-family: 'Cookie';"></span>
    </div>
        <%= render "layouts/application/header" %>
        <%= yield %>
        <%= render "layouts/application/footer" %>
    </body>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js" %>
    <% if admin_signed_in? %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <% end %>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71405716-1', 'auto');
  ga('send', 'pageview');
  ga('create', 'UA-64255131-5', 'auto');
  ga('send', 'pageview');
</script>
<script src="//load.sumome.com/" data-sumo-site-id="785ca34b60e2a3f5fdd2ab9a014afa8d26222c6dd594f1f0c6cb80cee5efd8de" async="async"></script>